<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%=sitename%>管理后台</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" type="text/css" href="/resources/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/resources/lib/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="/resources/stylesheets/theme.css">
    <link rel="stylesheet" href="/resources/lib/font-awesome/css/font-awesome.css">

    <script src="/resources/lib/jquery-1.8.1.min.js" type="text/javascript"></script>

    <!-- Demo page code -->
    
    <style type="text/css">
        #line-chart {
            height:300px;
            width:800px;
            margin: 0px auto;
            margin-top: 1em;
        }
        .brand { font-family: georgia, serif; }
        .brand .first {
            color: #ccc;
            font-style: italic;
        }
        .brand .second {
            color: #fff;
            font-weight: bold;
        }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/public/img/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
  <!--[if IE 7 ]> <body class="ie ie7"> <![endif]-->
  <!--[if IE 8 ]> <body class="ie ie8"> <![endif]-->
  <!--[if IE 9 ]> <body class="ie ie9"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> 
  <body> 
  <!--<![endif]-->
    
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <ul class="nav pull-right">
                    
                </ul>
                <a class="brand" href="/"><span class="first"><%=sitename%></span> <span class="second">管理系统</span></a>
            </div>
        </div>
    </div>
    

    <div class="container-fluid">
        
        <div class="row-fluid">
    <div class="dialog span4">
        <div class="block">
            <div class="block-heading">登录</div>
            <div class="block-body">
                <form>
                    <label>账号</label>
                    <input type="text" name="username" id="username" class="span12">
                    <label>密码</label>
                    <input type="password" name="password" id="password" class="span12">
                    <label>验证码</label>
                    <input type="text" style="width:100px" name="imgcode" id="imgcode" class="span12"><img style="float:right;padding-left:10px;padding-bottom:10px" id="captcha"/>                    
                    <label>手机验证码</label>
                    <input type="text" name="code" id="code" class="span12">
                    <a class="btn" href="javascript:;" id="codeBtn">获取验证码</a>
                    <a href="javascript:;" id="loginBtn" class="btn btn-primary pull-right">登录</a>
                    <label class="remember-me" style="display:none"><input type="checkbox"> Remember me</label>
					<label class="tips" id="tips" style="color:red"></label>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
        <p class="pull-right" style="display:none"><a href="http://www.portnine.com" target="blank">Theme by Portnine</a></p>
        
        <p style="display:none"><a href="reset-password.html">Forgot your password?</a></p>
    </div>
</div>



    
<div id="myModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>提示</h3>
  </div>
  <div class="modal-body">
    <p>账号或密码错误</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">关闭</a>
  </div>
</div>
    
    

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/resources/lib/bootstrap/js/bootstrap.js"></script>
    <script src="/resources/lib/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="/resources/lib/bootstrap/js/bootstrap-popover.js"></script>
	<script>
	function tips(title,content,time){
		$('#myModal').find("p").html(content) ;
		$('#myModal').modal({
			backdrop:true,
			keyboard:true,
			show:true
		});					
		setTimeout(function(){
			$('#myModal').modal('hide') ;
		},time) ;
		
	}
	function poptips(id,title,content,time){
		//弹出提示载入 
		$('#'+id).popover({
			title:title,
			placement:'right',
			content:content,
			trigger:'manual'
		});
		$('#'+id).popover('show') ;
		setTimeout(function(){
			$('#'+id).popover('hide') ;
		},time) ;
	}
	$(function(){
		function login(){
			var username = $.trim($("#username").val()) ;
            var password = $.trim($("#password").val()) ;
            var imgcode = $.trim($("#imgcode").val()) ;
            var code = $.trim($("#code").val()) ;
			if(username==""){
				poptips("username","提示","账号不能为空",3000)
				return ;
			}
            if(password==""){
                poptips("password","提示","密码不能为空",3000)
                return ;
            }
            if(imgcode==""){
                poptips("imgcode","提示","验证码不能为空",3000)
                return ;
            }
            if(code==""){
                poptips("code","提示","手机验证码不能为空",3000)
                return ;
            }
			$.post("/admin/loginAction",{'username':username,'password':password,'imgcode':imgcode,'code':code},function(data){
                //console.log(data) ;
                //var ret = eval('('+data+')') ;
                var ret = data ;
                if(ret.info=="pwderr"){
                    tips("","账号或密码错误",3000) ;  
                }else if(ret.info=="coderr"){
                    tips("","手机验证码错误",3000) ;  
                }else if(ret.info=="success"){
                    window.location.href="/admin/" ;
                }
			}) ;
		}
		$("#loginBtn").click(function(){
			login() ;
		});
		$(document).keyup(function(event){
		  if(event.keyCode ==13){
		    login() ;
		  }
		});	

        /**
         * 计时
         */
        function time() {
            $('#sendSms').html(60) ;
            var i=59;
            function c(){
                if(i>0){
                    //$('#sendSms').html(i);
                    //$('#sendSms').val(i+"秒后重发");
                    //$('#sendSms').val("24小时内只能发送一次") ;
                    i--;
                    setTimeout(c,1000) ;
                }else{
                    //$('#sendSms').html("发送") ;
                    $('#sendSms').val("发送手机验证码") ;
                    $("#sendSms").on('click',function(){
                        $this = $(this) ;
                        sendSms($this) ;
                    }) ;
                }
            }
            c() ;
        }
        $("#codeBtn").click(function(){
            var username = $.trim($("#username").val()) ;
            var imgcode = $.trim($("#imgcode").val()) ;
            if(imgcode==""){
                alert("请填写图片验证码") ;
                return ;
            }
            $.post('/admin/mobileCode?username='+username+"&t="+Math.random(),{'imgcode':imgcode},function(data){
                if(data=="codeeror"){
                    alert('图片验证码错误') ;
                    $("#captcha").attr('src','/captcha?'+Math.random()) ;
                    return ;
                }
                if(data=="success"){
                    $("#captcha").attr('src','/captcha?'+Math.random()) ;
                    alert('发送成功') ;
                    return ;
                }
                if(data.status=="n"&&data.info=="lt20"){
                    alert("休息一下明天再发吧") ;
                }
            }) ;
        }) ;
	}) ;

    $(function(){
        //$('get')
        //$.get('') ;
        $("#captcha").css({'cursor':'pointer','padding-bottom_':'10px'}).attr('src','/captcha?'+Math.random()).click(function(){
            $(this).attr('src','/captcha?'+Math.random()) ;
        }) ;        
    }) ;

	</script>    
    
  </body>
</html>