<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%=sitename%>管理系统-音乐管理</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <link rel="stylesheet" type="text/css" href="/resources/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/resources/lib/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="/resources/stylesheets/theme.css">
    <link rel="stylesheet" href="/resources/lib/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/resources/css/playlist-demo.css">
    <!-- 
	<link rel="stylesheet" href="http://labs.music.baidu.com/demo/muplayer/doc/css/playlist-demo.css">
	 -->

	
    <link rel="stylesheet" href="/resources/css/validform_v5.0.css">
	<link href="/resources/js/jquery-ui-1.9.2.custom/css/ui-lightness/jquery-ui-1.9.2.custom.css" rel="stylesheet">

    <script src="/resources/js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="/resources/js/jquery-migrate-1.0.0.js" type="text/javascript"></script>
    <script src="/resources/js/Validform_v5.3.2.js" type="text/javascript"></script>

	<!--<script type="text/javascript" src="/ckeditor/ckeditor.js"></script>-->
	<script language="javascript" type="text/javascript" src="/resources/js/jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.js"></script>
	<script language="javascript" type="text/javascript" src="/resources/js/jquery-ui-1.9.2.custom/js/jquery-ui-timepicker-addon.js"></script>
	<script language="javascript" src="/resources/js/jquery-ui-1.9.2.custom/i18n/jquery-ui-i18n.js"></script>
	<script language="javascript" src="/resources/js/jquery-ui-1.9.2.custom/i18n/jquery-ui-timepicker-zh-cn.js"></script>
    <script src="/resources/js/fileuploader/ajaxupload.js"></script>

	<script>
	$(function(){
	}) ;
	
	</script>
    <!-- Demo page code -->
    
    <style type="text/css">
        #line-chart {
            height:300px;
            width:800px;
            margin: 0px auto;
            margin-top: 1em;
        }
        .brand { font-family: georgia, serif; }
        .brand .first {
            color: #ccc;
            font-style: italic;
        }
        .brand .second {
            color: #fff;
            font-weight: bold;
        }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/public/img/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
  <!--[if IE 7 ]> <body class="ie ie7"> <![endif]-->
  <!--[if IE 8 ]> <body class="ie ie8"> <![endif]-->
  <!--[if IE 9 ]> <body class="ie ie9"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> 
  <body> 
  <!--<![endif]-->
  <% include navbar %>

  <div class="container-fluid">
        
        <div class="row-fluid">
            <div class="span3">
            <% include slidebar-nav %>
            </div>
        <div class="span9">
            <h1 class="page-title">试卷<%=!!locals.id?'编辑':'添加'%></h1>
<div class="btn-toolbar"></div>
<div class="well">
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active in" id="home">
    <form id="tagForm" action="/admin/music/update" onSubmit="return false">
	<div class="mod" style="float:left;">
	    <div class="hd">播放列表</div>
	    <div style="margin:10px 0px 0px 0px;padding-left:248px;">
        	<button class="btn btn-primary" id="music">上传</button><span id="music_loading"></span>
    	</div>
	    <div class="bd">
	        <ul id="playlist-demo" style="overflow-y: scroll;height:300px;width:300px;">
	        <%
	        if(!!locals.musics){
	        	musics.forEach(function(music){
	        	%>
	            <li data-link="/public/uploads/musics/<%=music.file%>" data-id="<%=music.id%>" class="pause"><i class="play-btn"></i><%=music.filename%> <a class="icon-remove"></a></li>
	        	<%
	        	}) ;
	        }
	        %>
	        </ul>
		
	    </div>
	</div>

    
    
    </form>
      </div>
      
  </div>

</div>



        </div>
    </div>
    <% include footer %>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/resources/lib/bootstrap/js/bootstrap.js"></script>
    
    
    <!-- <script src="/resources/js/jquery.min.js"></script> -->
    
	<script src="/resources/js/player.js"></script>
	<!-- <script src="http://mu7.bdstatic.com/cms/app/muplayer/0_9_1/player.js"></script> -->
	<script>
		var pid = '<%=!!locals.pid?pid:''%>' ;
	</script>
	<script src="/resources/js/jquery.music.js"></script>
    
  </body>
</html>


