<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><?php echo $sitename?>管理系统-內容管理</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" type="text/css" href="/resources/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/resources/lib/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="/resources/stylesheets/theme.css">
    <link rel="stylesheet" href="/resources/lib/font-awesome/css/font-awesome.css">

    <script src="/resources/lib/jquery-1.8.1.min.js" type="text/javascript"></script>

    <!-- Demo page code -->
    
    <style type="text/css">
        #line-chart {
            height:300px;
            width:800px;
            margin: 0px auto;
            margin-top: 1em;
        }
        .brand { font-family: georgia, serif; }
        .brand .first {
            color: #ccc;
            font-style: italic;
        }
        .brand .second {
            color: #fff;
            font-weight: bold;
        }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/public/img/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
  <!--[if IE 7 ]> <body class="ie ie7"> <![endif]-->
  <!--[if IE 8 ]> <body class="ie ie8"> <![endif]-->
  <!--[if IE 9 ]> <body class="ie ie9"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> 
  <body> 
  <!--<![endif]-->
    
    <?php include('navbar.php')?>
    

    <div class="container-fluid">
        
        <div class="row-fluid">
            <div class="span3">
			<?php include('slidebar-nav.php')?>
            </div>
        <div class="span9">
            <h1 class="page-title">文章管理</h1>
<div class="btn-toolbar">
    <button class="btn btn-primary" id="dealerAdd"><i class="icon-plus"></i> 添加</button>
    <button class="btn" style="display:none">导入</button>
    <button class="btn" style="display:none">导出</button>
	<select style="margin-top:10px;margin-left:10px" id="category">
		<option value="">选择栏目</option>
		<?php foreach($category as $k=>$cate):?>
		<option value="<?php echo $cate['id']?>" <?php echo $type==$cate['id']?"selected":""?>><?php echo $cate['name']?></option>
		<?php endforeach ?>
	</select>
  <div class="btn-group" style="display:none">
  <input type="text" name="keywords" id="keywords" value="<?php echo $keywords?>"/> 
  <button class="btn" id="search">搜索</button>
  </div>
</div>
<div class="well">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>标题</th>
          <th>栏目</th>
          <th>创建日期</th>
          <th style="width: 46px;"></th>
          <th style="width: 26px;"></th>
        </tr>
      </thead>
      <tbody>
	  <?php
		foreach($list as $k=>$l):
	  ?>
        <tr id="dealer_<?php echo $l['id'] ?>">
          <td><?php echo ($currPage-1)*$pageSize+$k+1?></td>
          <td><?php echo $l['title']?></td>
          <td><?php $type = $this->categorys_model->findById($l['type']);echo $type['name'];?></td>
          <td><?php echo $l['create_date']?></td>
          <td><a href="/Detail/<?php echo $l['id']?>" target="_blank">浏览</a></td>
          <td>
              <a href="/admin/news/edit/<?php echo $l['id'] ?>"><i class="icon-pencil"></i></a>
              <a href="#" onclick="deleteNews(<?php echo $l['id'] ?>)" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
          </td>
        </tr>
        <?php
		endforeach
		?>
      </tbody>
    </table>
</div>
<div class="pagination">
<?php echo $this->pager->output() ; ?>
</div>

<div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">删除确认</h3>
    </div>
    <div class="modal-body">
        <p class="error-text"><i class="icon-warning-sign modal-icon"></i>您确定要删除这条内容吗?</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
        <button class="btn btn-danger" id="delBtn">确定</button>
    </div>
</div>

        </div>
    </div>
    
    <?php include("footer.php") ;?>
    

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/resources/lib/bootstrap/js/bootstrap.js"></script>
    <script>
	$(function(){
		//添加
		$("#dealerAdd").click(function(){
			window.location.href="<?php echo site_url("admin/news/add")?>" ;
		});
		$("#delBtn").click(function(){
			var id = $(this).attr('v') ;
			$.post('/admin/news/delete/'+id,function(data){
				if(data=="1"){
					$('#myModal').modal('hide') ;
					$('#dealer_'+id).remove() ;
				}
				//location = location ;
			}) ;
		}) ;
		//搜索
		$("#search").click(function(){
			var keywords = $("#keywords").val() ;
			window.location.href="news.php?keywords="+keywords ;
		});		
		$("#category").change(function(){
			//alert($(this).val()) ;
			var type = $(this).val() ;
			if(type!=""){
				window.location.href="?type="+type ;							
			}else{
				window.location.href="/admin/news" ;	
			}
		}) ;
	}) ;
	function deleteNews(id){
		$("#delBtn").attr('v',id) ;
		$('#myModal').modal({
			backdrop:true,
			keyboard:true,
			show:true
		});					
		
	}
	</script>
    

  </body>
</html>