<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><?php echo $sitename?>管理系统-内容<?php echo !empty($id)?"编辑":"添加"?></title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <link rel="stylesheet" type="text/css" href="/resources/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/resources/lib/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="/resources/stylesheets/theme.css">
    <link rel="stylesheet" href="/resources/lib/font-awesome/css/font-awesome.css">

	
    <link rel="stylesheet" href="/resources/css/validform_v5.0.css">
	<link href="/resources/js/jquery-ui-1.9.2.custom/css/ui-lightness/jquery-ui-1.9.2.custom.css" rel="stylesheet">

    <script src="/resources/js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="/resources/js/jquery-migrate-1.0.0.js" type="text/javascript"></script>
    <script src="/resources/js/Validform_v5.3.2.js" type="text/javascript"></script>

	<script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
	<script language="javascript" type="text/javascript" src="/resources/js/jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.js"></script>
	<script language="javascript" type="text/javascript" src="/resources/js/jquery-ui-1.9.2.custom/js/jquery-ui-timepicker-addon.js"></script>
	<script language="javascript" src="/resources/js/jquery-ui-1.9.2.custom/i18n/jquery-ui-i18n.js"></script>
	<script language="javascript" src="/resources/js/jquery-ui-1.9.2.custom/i18n/jquery-ui-timepicker-zh-cn.js"></script>
	<script>
	$(function(){
		$('#create_date').datetimepicker({
			//inline: true,
			dateFormat: 'yy-mm-dd',
			timeFormat: "HH:mm:ss",
			maxDate:"+0m +0w"
		});
	}) ;
	
	</script>
    <!-- Demo page code -->
    
    <style type="text/css">
        #line-chart {
            height:300px;
            width:800px;
            margin: 0px auto;
            margin-top: 1em;
        }
        .brand { font-family: georgia, serif; }
        .brand .first {
            color: #ccc;
            font-style: italic;
        }
        .brand .second {
            color: #fff;
            font-weight: bold;
        }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/public/img/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
  <!--[if IE 7 ]> <body class="ie ie7"> <![endif]-->
  <!--[if IE 8 ]> <body class="ie ie8"> <![endif]-->
  <!--[if IE 9 ]> <body class="ie ie9"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> 
  <body> 
  <!--<![endif]-->
  <?php include('navbar.php')?>

  <div class="container-fluid">
        
        <div class="row-fluid">
            <div class="span3">
            <?php include('slidebar-nav.php')?>
            </div>
        <div class="span9">
            <h1 class="page-title">文章<?php echo !empty($id)?"编辑":"添加"?></h1>
<div class="btn-toolbar"></div>
<div class="well">
	<?php if(false):?>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab">Profile</a></li>
      <li><a href="#profile" data-toggle="tab">Password</a></li>
    </ul>
    <?php endif;?>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active in" id="home">
    <form id="newsForm" action="./newsAction.php?action=<?php echo !empty($id)?"edit":"add"?>" onSubmit="return false">
    	<input type="hidden" name="id" value="<?php echo $id?>"/>
        <label>标题</label>
        <input type="text" id="title" name="title" value="<?php echo !empty($news["title"])?$news["title"]:""?>" class="input-xlarge">
		<label>选择栏目</label>
		<select style="margin-top:10px;" name="category" id="category">
			<option value="">请选择</option>
			<?php foreach($category as $k=>$cate):?>
			<option value="<?php echo $cate['id']?>" <?php echo !empty($type)&&$type==$cate['id']?"selected":""?>><?php echo $cate['name']?></option>
			<?php endforeach ?>
		</select>
        <label>作者</label>
        <input type="text" id="author" name="author" value="<?php echo !empty($news["author"])?$news["author"]:""?>" class="input-xlarge">
        <label>来源</label>
        <input type="text" id="source" name="source" value="<?php echo !empty($news["source"])?$news["source"]:""?>" class="input-xlarge">
        <label>创建日期</label>
        <input type="text" id="create_date" name="create_date" value="<?php echo !empty($news["create_date"])?$news["create_date"]:""?>" class="input-xlarge">
        <label>内容</label>
        <textarea id="content" name="content"><?php echo !empty($news["content"])?$news["content"]:""?></textarea>
    <div>
        <button class="btn btn-primary" id="newsBtn"><?php echo !empty($id)?"更新":"添加"?></button>
    </div>
    
    </form>
      </div>
      
  </div>

</div>



        </div>
    </div>
    <?php include("footer.php") ;?>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/resources/lib/bootstrap/js/bootstrap.js"></script>
    
    
    
    <script>
	$(function(){
		
		$("#newsBtn").click(function(){
			var title = $("#title").val() ;
			var author = $("#author").val() ;
			var source = $("#source").val() ;
			var create_date = $("#create_date").val() ;
			var content = CKEDITOR.instances.content.getData() ;
			var type = $("#category").val() ;
			var id = "<?php echo $id?>" ;
			if(title==""){
				$.Showmsg("标题不能为空") ;
				return ;
			}
			if(type==""){
				$.Showmsg("请选择一个栏目") ;
				return ;
			}
			if(create_date==""){
				$.Showmsg("请选择日期") ;
				return ;
			}
			if(content==""){
				$.Showmsg("内容不能为空") ;
				return ;
			}
			var data = {'id':id,'title':title,'type':type,'author':author,'source':source,'create_date':create_date,'content':content} ;
			$.post('/admin/news/<?php echo !empty($id)?"update":"save"?>',data,function(data){
				data = eval("("+data+")") ;
				if(data.status=="y"){
					$.Showmsg(data.info) ;
					<?php
						if(empty($id)){
							echo "$(\"#newsForm\")[0].reset() ;" ;
						}
						if(false){
							echo "location='./news.php';" ;
						}
					?>
					
					setTimeout(function(){
						$.Hidemsg(); //公用方法关闭信息提示框;显示方法是$.Showmsg("message goes here.");
						window.location.href="<?php echo site_url("admin/news")?>" ;
					},2000);
				}else if(data.status=="n"){
					$.Showmsg(data.info) ;
				}
			}) ;
		}) ;
	}) ;
	var editor = CKEDITOR.replace('content', { 
		language:'zh-cn',//简体中文 
		resize_enabled: false,
		toolbar ://工具栏设置 
		[ 
		['Source'], 
		//'/', 
		['Cut','Copy','Paste','PasteText','PasteFromWord'], 
		['Bold','Italic','Underline','Strike','-','Subscript','Superscript'], 
		['TextColor','BGColor'],
		['Image'] 
		]
	}); 
		 
	</script>
    
  </body>
</html>


