<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%=sitename%>管理系统-内容编辑</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <link rel="stylesheet" type="text/css" href="/resources/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/resources/lib/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="/resources/stylesheets/theme.css">
    <link rel="stylesheet" href="/resources/lib/font-awesome/css/font-awesome.css">

	
    <link rel="stylesheet" href="/resources/css/validform_v5.0.css">
	<link href="/resources/js/jquery-ui-1.9.2.custom/css/ui-lightness/jquery-ui-1.9.2.custom.css" rel="stylesheet">

    <script src="/resources/js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="/resources/js/jquery-migrate-1.0.0.js" type="text/javascript"></script>
    <script src="/resources/js/Validform_v5.3.2.js" type="text/javascript"></script>

	<!--<script type="text/javascript" src="/ckeditor/ckeditor.js"></script>-->
	<script language="javascript" type="text/javascript" src="/resources/js/jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.js"></script>
	<script language="javascript" type="text/javascript" src="/resources/js/jquery-ui-1.9.2.custom/js/jquery-ui-timepicker-addon.js"></script>
	<script language="javascript" src="/resources/js/jquery-ui-1.9.2.custom/i18n/jquery-ui-i18n.js"></script>
	<script language="javascript" src="/resources/js/jquery-ui-1.9.2.custom/i18n/jquery-ui-timepicker-zh-cn.js"></script>
	<script>
	$(function(){
		$('#create_date').datetimepicker({
			//inline: true,
			dateFormat: 'yy-mm-dd',
			timeFormat: "HH:mm:ss",
			maxDate:"+0m +0w"
		});
        $("input[name='graded_classification']").click(function(){
            var v = $(this).val() ;
            if(v=='graded'){
                $("#graded").show() ;
                $("#classification").hide() ;
            }else{
                $("#graded").hide() ;
                $("#classification").show() ;
            }
        }) ;
		$("#is_music").change(function(){
			//alert($(this).val()) ;
			$val = $(this).val() ;
			if($val=="1"){
				$("input[name='graded_classification'][value='classification']").attr('checked',true) ;
                $("#graded").hide() ;
                $("#classification").show() ;
			}
			
		}) ;
	}) ;
	
	</script>
    <!-- Demo page code -->
    
    <style type="text/css">
        #line-chart {
            height:300px;
            width:800px;
            margin: 0px auto;
            margin-top: 1em;
        }
        .brand { font-family: georgia, serif; }
        .brand .first {
            color: #ccc;
            font-style: italic;
        }
        .brand .second {
            color: #fff;
            font-weight: bold;
        }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/public/img/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
  <!--[if IE 7 ]> <body class="ie ie7"> <![endif]-->
  <!--[if IE 8 ]> <body class="ie ie8"> <![endif]-->
  <!--[if IE 9 ]> <body class="ie ie9"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> 
  <body> 
  <!--<![endif]-->
  <% include navbar %>

  <div class="container-fluid">
        
        <div class="row-fluid">
            <div class="span3">
            <% include slidebar-nav %>
            </div>
        <div class="span9">
            <h1 class="page-title">试卷<%=!!locals.id?'编辑':'添加'%></h1>
<div class="btn-toolbar"></div>
<div class="well">
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active in" id="home">
    <form id="tagForm" action="/admin/user/update" onSubmit="return false">
    	<input type="hidden" name="id" id="paper_id" value="<%=!!locals.id?id:''%>"/>
        <label>名称</label>
        <input type="text" id="title" name="title" value="<%=!!locals.paper?paper.title:''%>" class="input-xlarge">
		<label>是否免费</label>
		<select name="is_free" id="is_free">
			<option value="0" <%=!!locals.paper&&paper.is_free==0?"selected='selected'":""%>>否</option>
			<option value="1" <%=!!locals.paper&&paper.is_free==1?"selected='selected'":""%>>是</option>
		</select>        
		<label>是否视唱（音乐列表）</label>
		<select name="is_music" id="is_music">
			<option value="0" <%=!!locals.paper&&paper.is_music==0?"selected='selected'":""%>>否</option>
			<option value="1" <%=!!locals.paper&&paper.is_music==1?"selected='selected'":""%>>是</option>
		</select>        
        <label></label>
        <label class="radio inline">
        <input type="radio" name="graded_classification" value="graded" <%-!!locals.paper&&paper.graded_id!="0"?"checked='checked'":""%>  <%-!!!locals.paper?"checked='checked'":""%> />分级
        </label>
        <label class="radio inline">
        <input type="radio" name="graded_classification" value="classification" <%-!!locals.paper&&paper.classification_id!="0"?"checked='checked'":""%>/>分类
        </label>
        <label></label>

        <select name="graded" id="graded" <%-!!locals.paper&&paper.graded_id=="0"?'style="display:none"':""%>>
            <%
            if(!!locals.graded){
            graded.forEach(function(gad){%>
                <option value="<%=gad.graded_id%>" <%-!!locals.paper&&paper.graded_id==gad.graded_id?"selected='selected'":""%>><%=gad.name%></option>
            <%})}%>
        </select>
        
        <select name="classification" id="classification" <%-!!locals.paper&&paper.classification_id=="0"?'style="display:none"':""%> <%-!!!locals.paper?'style="display:none"':""%>>
            <%
            if(!!locals.classification){
            classification.forEach(function(cla){%>
                <option value="<%=cla.classification_id%>" <%-!!locals.paper&&paper.classification_id==cla.classification_id?"selected='selected'":""%>><%=cla.name%></option>
            <%})}%>
        </select>
        <label>描述</label>
        <textarea id="description" name="description" class="input-xlarge"><%=!!locals.paper?paper.description:''%> </textarea>


    <div style="margin:10px 0px 0px 0px">
        <button class="btn btn-primary" id="paperBtn"><%=!!locals.id?'更新':'添加'%></button>
    </div>
    
    </form>
      </div>
      
  </div>

</div>



        </div>
    </div>
    <% include footer %>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/resources/lib/bootstrap/js/bootstrap.js"></script>
    
    
    
    <script>
	$(function(){
		$("#paperBtn").click(function(){
            var title = $("#title").val() ;
            var is_free = $("#is_free").val() ;
            var graded_id = $("#graded").find("option:selected").val() ;
            var classification_id = $("#classification").find("option:selected").val() ;
            var description = $("#description").val() ;
            var graded_classification = $("input[name=graded_classification]:checked").val() ;
            var is_music = $("#is_music").find("option:selected").val() ;
            if(graded_classification=='graded'){
                classification_id = 0 ;
            }else{
                graded_id = 0 ;
            }
            if(title==""){
                $.Showmsg("试卷名称不能为空") ;
                return ;
            }
            if(description==""){
                $.Showmsg("请为试卷添加一个描述") ;
                return ;
            }
			var data = {<%-!!locals.id?"'id':"+id:"'id':''"%>,'title':title,'is_free':is_free,'is_music':is_music,'graded_id':graded_id,'classification_id':classification_id,'description':description} ;
			$.post('/admin/paper/update',data,function(data){
                window.console&&console.log(data) ;
				if(data.status=="y"){
					$.Showmsg(data.info) ;
					
					setTimeout(function(){
						$.Hidemsg(); //公用方法关闭信息提示框;显示方法是$.Showmsg("message goes here.");
						window.location.href="/admin/paper" ;
					},2000);
				}else if(data.status=="n"){
					$.Showmsg(data.info) ;
				}
			}) ;
		}) ;
	}) ;
    /*
	var editor = CKEDITOR.replace('content', { 
		language:'zh-cn',//简体中文 
		resize_enabled: false,
		toolbar ://工具栏设置 
		[ 
		['Source'], 
		//'/', 
		['Cut','Copy','Paste','PasteText','PasteFromWord'], 
		['Bold','Italic','Underline','Strike','-','Subscript','Superscript'], 
		['TextColor','BGColor'],
		['Image'] 
		]
	}); */
		 
	</script>
    
  </body>
</html>


