<%
Array.prototype.in_array = function(e) 
{ 
    for(i=0;i<this.length;i++)
    {
        if(this[i] == e)
        return true;
    }
    return false;
}
%>
<%//question.label.split(',').in_array('3')%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%=sitename%>管理系统-内容编辑</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <link rel="stylesheet" type="text/css" href="/resources/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/resources/lib/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="/resources/stylesheets/theme.css">
    <link rel="stylesheet" href="/resources/lib/font-awesome/css/font-awesome.css">

	
    <link rel="stylesheet" href="/resources/css/validform_v5.0.css">
	<link href="/resources/js/jquery-ui-1.9.2.custom/css/ui-lightness/jquery-ui-1.9.2.custom.css" rel="stylesheet">

    <script src="/resources/js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="/resources/js/jquery-migrate-1.0.0.js" type="text/javascript"></script>
    <script src="/resources/js/Validform_v5.3.2.js" type="text/javascript"></script>

	<!--<script type="text/javascript" src="/ckeditor/ckeditor.js"></script>-->
	<script language="javascript" type="text/javascript" src="/resources/js/jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.js"></script>
	<script language="javascript" type="text/javascript" src="/resources/js/jquery-ui-1.9.2.custom/js/jquery-ui-timepicker-addon.js"></script>
	<script language="javascript" src="/resources/js/jquery-ui-1.9.2.custom/i18n/jquery-ui-i18n.js"></script>
	<script language="javascript" src="/resources/js/jquery-ui-1.9.2.custom/i18n/jquery-ui-timepicker-zh-cn.js"></script>
    <script src="/resources/js/fileuploader/ajaxupload.js"></script>
    <script>
    var deleteFile = function(id,a){
        switch(id){
            case 'question_img':
                $('#imgTitle_filename').val('') ;
                $('#imgTitle_img').html('') ;
                $(a).remove(); 
                break;
            case 'question_sound':
                $('#music_filename').val('') ;
                $('#music_audio').html('') ;
                $(a).remove(); 
                break;
            case 'question_titlesound':
                $('#titlesound_filename').val('') ;
                $('#titlesound_audio').html('') ;
                $(a).remove(); 
                break;
            case 'option_a_img':
                $('#option_a_filename').val('') ;
                $('#option_a_img').html('') ;
                $(a).remove(); 
                break;
            case 'option_b_img':
                $('#option_b_filename').val('') ;
                $('#option_b_img').html('') ;
                $(a).remove(); 
                break;
            case 'option_c_img':
                $('#option_c_filename').val('') ;
                $('#option_c_img').html('') ;
                $(a).remove(); 
                break;
            case 'option_d_img':
                $('#option_d_filename').val('') ;
                $('#option_d_img').html('') ;
                $(a).remove(); 
                break;
        }
    };

    </script>
    <!-- Demo page code -->
    
    <style type="text/css">
        #line-chart {
            height:300px;
            width:800px;
            margin: 0px auto;
            margin-top: 1em;
        }
        .brand { font-family: georgia, serif; }
        .brand .first {
            color: #ccc;
            font-style: italic;
        }
        .brand .second {
            color: #fff;
            font-weight: bold;
        }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/public/img/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
  <!--[if IE 7 ]> <body class="ie ie7"> <![endif]-->
  <!--[if IE 8 ]> <body class="ie ie8"> <![endif]-->
  <!--[if IE 9 ]> <body class="ie ie9"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> 
  <body> 
  <!--<![endif]-->
  <% include navbar %>

  <div class="container-fluid">
        
        <div class="row-fluid">
            <div class="span3">
            <% include slidebar-nav %>
            </div>
        <div class="span9">
            <h1 class="page-title">题目<%=(!!locals.id)?"编辑":"添加"%></h1>
<div class="btn-toolbar"></div>
<div class="well">
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active in" id="home">
    <form id="questionForm" action="/admin/question/update" onSubmit="return false">
    	<input type="hidden" name="id" value="<%=(!!locals.id)?id:""%>"/>
		<!--
    	<label>题目类型</label>
        <label class="radio inline">
        <input type="radio" name="area" value="1" <%=!!!locals.question?'checked="checked"':""%> <%=!!locals.question&&question.area_id==1?'checked="checked"':""%>  />北京初级
        </label>
        <label class="radio inline">
        <input type="radio" name="area" value="2" <%=!!locals.question&&question.area_id==2?'checked="checked"':""%>/>北京中级
        </label>        
		-->

    	<label>标签</label>
    	<%tags.forEach(function(tag){ %>
        <label class="checkbox inline">
    		<input type="checkbox" name="label[]" value="<%=tag.tag_id%>" <%=!!locals.question&&!!question.label&&question.label.split(',').in_array(tag.tag_id)?"checked='checked'":""%>/> <%=tag.name%>
        </label>
    	<%})%>
        <label>题目</label>
        <input type="text" id="title" name="title" value="<%if(typeof question != 'undefined'){%><%=question.title%><%}%>" class="input-xlarge">
        <label>目录</label>
        <select name="category" id="category">
            <option value="">选择</option>
            <%
                if(!!locals.category){
                    category.forEach(function(cate){
                    %>
                        <option value="<%=cate.category_id%>" <%=(!!locals.question&&cate.category_id==question.category_id)||(locals.cid&&cid==cate.category_id)?"selected='selected'":""%>><%=cate.title%></option>
                    <%
                    })
                }
            %>
        </select>

        <label>读题声音</label>
        <input type="hidden" id="titlesound_inp" style="margin:0px 10px 0px 0px"/><input type="button" class="btn" id="titlesound" value="上传读题声音文件"/>
        <input type="hidden" id="titlesound_filename" value="<%=!!!locals.question?'':question.titlesound%>" />
        <span id="titlesound_audio">
            <%-!!locals.question&&question.titlesound?'<audio controls="controls"  src="/public/uploads/titlesounds/'+question.titlesound+'"></audio>':''%>
        </span>
        <span id="titlesound_img" style="margin:0px 10px 0px 0px">
        </span>
        <span id="titlesound_loading"></span>
         <%-!!locals.question&&question.titlesound?'<a href="#" onclick="javascript:deleteFile(\'question_titlesound\',this);" role="button" data-toggle="modal"><i class="icon-remove"></i></a>':''%>        
		<label class="checkbox inline">
		       <input type="checkbox" name="titlesound_autoplay" id="titlesound_autoplay" <%-!!locals.question&&!!question.settings&&JSON.parse(question.settings).titlesound_autoplay=='yes'?"checked='checked'":""%> value="autoplay"/>自动播放       
		</label> 

        
        <label>题号</label>
        <input type="text" id="num" name="num" value="<%if(typeof question != 'undefined'){%><%=question.num%><%}%>" class="input-small">
        <label>正确答案</label>
        <select name="correct" id="correct">
            <option value="">选择</option>
            <option value="A" <%=!!locals.question&&question.correct=='A'?"selected='selected'":""%>>A</option>
            <option value="B" <%=!!locals.question&&question.correct=='B'?"selected='selected'":""%>>B</option>
            <option value="C" <%=!!locals.question&&question.correct=='C'?"selected='selected'":""%>>C</option>
            <option value="D" <%=!!locals.question&&question.correct=='D'?"selected='selected'":""%>>D</option>
        </select>
        <label>分数</label>
        <input type="text" id="score" name="score" value="<%if(typeof question != 'undefined'){%><%=question.score%><%}%>" class="input-small">
        
        <label>倒计时</label>
        <input type="text" id="countdown" name="countdown" value="<%-!!locals.question&&!!question.settings&&JSON.parse(question.settings).countdown?JSON.parse(question.settings).countdown:""%>" class="input-xlarge">秒

        <label>图片</label>
        <input type="hidden" id="imgTitle_inp" style="margin:0px 10px 0px 0px" /><input class="btn" style="margin-botton:10px" type="button" id="imgTitle" value="上传图片"/>
        <input type="hidden" id="imgTitle_filename" value="<%=!!!locals.question?'':question.image%>" />
        <span id="imgTitle_img">
        <%-!!locals.question&&question.image?"<img src='/public/uploads/questions/"+question.image+"' style='height:80px'/>":''%>
        </span>
        <span id="imgTitle_loading"></span>

        <%-!!locals.question&&question.image?'<a href="#" onclick="javascript:deleteFile(\'question_img\',this);" role="button" data-toggle="modal"><i class="icon-remove"></i></a>':''%>

        <label>题目音乐</label>
        <input type="hidden" id="music_inp" style="margin:0px 10px 0px 0px"/><input type="button" class="btn" id="music" value="上传音乐文件"/>
        <input type="hidden" id="music_filename" value="<%=!!!locals.question?'':question.sound%>" />
        <span id="music_audio">
            <%-!!locals.question&&question.sound?'<audio controls="controls"  src="/public/uploads/musics/'+question.sound+'"></audio>':''%>
        </span>
        <span id="music_img" style="margin:0px 10px 0px 0px">
        </span>
        <span id="music_loading"></span>
         <%-!!locals.question&&question.sound?'<a href="#" onclick="javascript:deleteFile(\'question_sound\',this);" role="button" data-toggle="modal"><i class="icon-remove"></i></a>':''%>
       
        <p></p>

<label class="checkbox inline">
       <input type="checkbox" name="autoplay" id="autoplay" <%-!!locals.question&&!!question.settings&&JSON.parse(question.settings).autoplay=='yes'?"checked='checked'":""%> value="autoplay"/>自动播放       
</label> 
<select name="playcount" id="playcount" <%-!!locals.question&&!!question.settings&&JSON.parse(question.settings).autoplay=='yes'?'style="display:block"':'style="display:none"'%> >
    <option value="1" <%-!!locals.question&&!!question.settings&&JSON.parse(question.settings).autoplay=='yes'&&JSON.parse(question.settings).playcount=='1'?'selected="selected"':''%> >自动播放次数</option>
    <option value="2" <%-!!locals.question&&!!question.settings&&JSON.parse(question.settings).autoplay=='yes'&&JSON.parse(question.settings).playcount=='2'?'selected="selected"':''%>>2</option>
    <option value="3" <%-!!locals.question&&!!question.settings&&JSON.parse(question.settings).autoplay=='yes'&&JSON.parse(question.settings).playcount=='3'?'selected="selected"':''%>>3</option>
</select>     

        <p></p>

        <div class="row">
        <div class="span1"></div>
        <div class="span1">
        <strong>选项：</strong>
        </div>
        <div class="span7">
        <label>选项A</label>  
        <input type="text" id="option_a_title" name="options" value="<%=!!locals.answers&&answers[0]?answers[0].title:''%>" class="input-xlarge"/>
        <label>选项A图片</label>
        <input type="hidden" id="option_a_inp" style="margin:0px 10px 0px 0px" /><input class="btn" style="margin-botton:10px" type="button" id="option_a" value="上传图片"/>
        <input type="hidden" id="option_a_filename" value="<%=!!locals.answers&&answers[0]?answers[0].img:''%>" />
        <span id="option_a_img"><%-!!locals.answers&&!!locals.answers[0]&&!!locals.answers[0].img?"<img src='/public/uploads/options/"+answers[0].img+"' style='height:80px'/>":""%></span>
        <span id="option_a_loading"></span>
        <%-!!locals.answers&&!!locals.answers[0]&&!!locals.answers[0].img?
        '<a href="#" style="float:right;" onclick="javascript:deleteFile(\'option_a_img\',this);" role="button" data-toggle="modal"><i class="icon-remove"></i></a>':''
        %>
        <p></p>

        <label>选项B</label>
        <input type="text" id="option_b_title" name="options" value="<%=!!locals.answers&&!!answers[1]?answers[1].title:''%>" class="input-xlarge"/>
        <label>选项B图片</label>
        <input type="hidden" id="option_b_inp" style="margin:0px 10px 0px 0px" /><input class="btn" style="margin-botton:10px" type="button" id="option_b" value="上传图片"/>
        <input type="hidden" id="option_b_filename" value="<%=!!locals.answers&&answers[1]?answers[1].img:''%>" />
        <span id="option_b_img"><%-!!locals.answers&&!!locals.answers[1]&&!!locals.answers[1].img?"<img src='/public/uploads/options/"+answers[1].img+"' style='height:80px'/>":""%></span>
        <span id="option_b_loading"></span>
        <%-!!locals.answers&&!!locals.answers[1]&&!!locals.answers[1].img?
        '<a href="#" style="float:right;" onclick="javascript:deleteFile(\'option_b_img\',this);" role="button" data-toggle="modal"><i class="icon-remove"></i></a>':''
        %>
        <p></p>
        
        <label>选项C</label>
        <input type="text" id="option_c_title" name="options" value="<%=!!locals.answers&&!!answers[2]?answers[2].title:''%>" class="input-xlarge"/>
        <label>选项C图片</label>
        <input type="hidden" id="option_c_inp" style="margin:0px 10px 0px 0px" /><input class="btn" style="margin-botton:10px" type="button" id="option_c" value="上传图片"/>
        <input type="hidden" id="option_c_filename" value="<%=!!locals.answers&&answers[2]?answers[2].img:''%>" />
        <span id="option_c_img"><%-!!locals.answers&&!!locals.answers[2]&&!!locals.answers[2].img?"<img src='/public/uploads/options/"+answers[2].img+"' style='height:80px'/>":""%></span>
        <span id="option_c_loading"></span>
        <%-!!locals.answers&&!!locals.answers[2]&&!!locals.answers[2].img?
        '<a href="#" style="float:right;" onclick="javascript:deleteFile(\'option_c_img\',this);" role="button" data-toggle="modal"><i class="icon-remove"></i></a>':''
        %>
        <p></p>
        
        <label>选项D</label>
        <input type="text" id="option_d_title" name="options" value="<%=!!locals.answers&&answers[3]?answers[3].title:''%>" class="input-xlarge"/>
        <label>选项D图片</label>
        <input type="hidden" id="option_d_inp" style="margin:0px 10px 0px 0px" /><input class="btn" style="margin-botton:10px" type="button" id="option_d" value="上传图片"/>
        <input type="hidden" id="option_d_filename" value="<%=!!locals.answers&&answers[3]?answers[3].img:''%>" />
        <span id="option_d_img"><%-!!locals.answers&&!!locals.answers[3]&&!!locals.answers[3].img?"<img src='/public/uploads/options/"+answers[3].img+"' style='height:80px'/>":""%></span>
        <span id="option_d_loading"></span>
        <%-!!locals.answers&&!!locals.answers[3]&&!!locals.answers[3].img?
        '<a href="#" style="float:right;" onclick="javascript:deleteFile(\'option_d_img\',this);" role="button" data-toggle="modal"><i class="icon-remove"></i></a>':''
        %>
        </div>
        </div>
        


    <div style="margin:10px 0px 0px 200px" >
    <p class="text-center">
        <button class="btn btn-primary" style="" id="questionBtn"><%=(!!locals.id)?"更新":"添加"%></button>
    </p>
    </div>
    
    </form>
      </div>
      
  </div>

</div>



        </div>
    </div>
    <% include footer %>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/resources/lib/bootstrap/js/bootstrap.js"></script>
    <script>
		var id = "<%if(typeof id !='undefined'){%><%=id%><%}else{%>undefined<%}%>" ;		 
	</script>
    
    <script src="/resources/js/jquery.getParams.js"></script>
    <script src="/resources/js/jquery.questions.js"></script>
    
    
    
  </body>
</html>


