<%
Array.prototype.in_array = function(e) 
{ 
    for(i=0;i<this.length;i++)
    {
        if(this[i] == e)
        return true;
    }
    return false;
}
%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%=sitename%>管理系统-內容管理</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" type="text/css" href="/resources/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/resources/lib/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="/resources/stylesheets/theme.css">
    <link rel="stylesheet" href="/resources/lib/font-awesome/css/font-awesome.css">

    <script src="/resources/lib/jquery-1.8.1.min.js" type="text/javascript"></script>

    <!-- Demo page code -->
    
    <style type="text/css">
        #line-chart {
            height:300px;
            width:800px;
            margin: 0px auto;
            margin-top: 1em;
        }
        .brand { font-family: georgia, serif; }
        .brand .first {
            color: #ccc;
            font-style: italic;
        }
        .brand .second {
            color: #fff;
            font-weight: bold;
        }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/public/img/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
  <!--[if IE 7 ]> <body class="ie ie7"> <![endif]-->
  <!--[if IE 8 ]> <body class="ie ie8"> <![endif]-->
  <!--[if IE 9 ]> <body class="ie ie9"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> 
  <body> 
  <!--<![endif]-->
    
    <% include navbar %>
    

    <div class="container-fluid">
        
        <div class="row-fluid">
            <div class="span3">
			<% include slidebar-nav %>
            </div>
        <div class="span9">
            <h1 class="page-title">题库管理</h1>
      <div class="btn-toolbar">
          <button class="btn btn-primary" style="display:none" id="dealerAdd"><i class="icon-plus"></i> 添加</button>
          <button class="btn" style="display:none">导入</button>
          <button class="btn" style="display:none">导出</button>
        <div class="btn-group" style="display:block">

        <input type="text" name="keywords" id="keywords" value="<%if(keywords){%><%=keywords%><%}else{%>题目<%}%>"/> 
        <button class="btn" style="margin:0px 0px 10px 5px;" id="search">搜索</button>

        </div>
      </div>
      <% if(!!locals.pid){%>
  <button class="btn" id="add_paper">添加到试卷(<%=paper.title%>)</button> <a href="/admin/paper-questions/?pid=<%=pid%>" class="btn" id="view_paper">查看试卷</a>
  <%}%>
      <a href="/admin/question/add<%=!!locals.cid?"?cid="+cid:""%>">添加题目</a>
<div class="well">
    <table class="table">
      <thead>
        <tr>
          <th>全选/取消<%-!!locals.pid?'<input type="checkbox" id="check_all" name="check_all" style="margin-bottom:4px"/>':'#'%></th>
          <th>题目</th>
          <th>题号</th>
          <th>目录</th>
          <th>题目标签</th>
          <th>题目图片</th>
          <th>创建日期</th>
          <th style="width: 46px;"></th>
          <th style="width: 26px;"></th>
        </tr>
      </thead>
      <tbody>
	    <% 
        var count = (currPage-1)*pageSize ;
        questions.forEach(function(question){ 
        count++ ;
       %>
		
        <tr id="dealer_<%=question.question_id%>">
          <td><%-!!locals.pid?'<input type="checkbox" name="checkbox_question" style="margin-bottom:10px" value="'+question.question_id+'"/>':''%> <%=count%></td>
          <td><%=question.title%></td>
          <td><%=question.num%></td>
          <td>
          <%
            if(!!locals.category){
              category.forEach(function(cate){
              %>
              <%=cate.category_id==question.category_id?cate.title:""%>
              <%
              });
            }
          %>
          </td>
          <td>

      <%
      var tag_name = [] ;
      tags.forEach(function(tag){ 
        question.label!=null&&question.label.split(',').in_array(tag.tag_id)?tag_name.push(tag.name):"" ;
      })
      %>
      <%=tag_name.join(',')%>
          </td>
          <td><%if(!!question.image){%><img src="/public/uploads/questions/<%=question.image%>" style="height:80px"/><%}%></td>
          <td><%=moment(question.created_at).format("YYYY-MM-DD HH:mm:ss")%></td>
          <td></td>
          <td>
              <a href="/admin/question/edit/<%=question.question_id%>?<%=!!locals.cid?"cid="+cid+"&":""%>page=<%=currPage%>"><i class="icon-pencil"></i></a>
              <a href="#" onclick="deleteNews(<%=question.question_id%>)" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
</div>
<div class="pagination">
<%-pager%>
</div>

<div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">删除确认</h3>
    </div>
    <div class="modal-body">
        <p class="error-text"><i class="icon-warning-sign modal-icon"></i>您确定要删除这条内容吗?</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
        <button class="btn btn-danger" id="delBtn">确定</button>
    </div>
</div>

        </div>
    </div>
    
    <% include footer %>
    

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/resources/lib/bootstrap/js/bootstrap.js"></script>
    <script>
	$(function(){
		//添加
		$("#dealerAdd").click(function(){
			window.location.href="admin/question/add" ;
		});
		$("#delBtn").click(function(){
			var id = $(this).attr('v') ;
			$.post('/admin/question/delete/',{id:id},function(data){
				if(data.status=="y"){
					$('#myModal').modal('hide') ;
					$('#dealer_'+id).remove() ;
				}
				//location = location ;
			}) ;
		}) ;
		//搜索
    $("#keywords").focus(function(){
      if($(this).val()==this.defaultValue){
        $(this).val('') ;
      }
    }).blur(function(){
      if($(this).val()==""){
        //$(this).val('题目') ;
      }
    }) ;
		$("#search").click(function(){
			var keywords = $("#keywords").val() ;
      if(keywords!="题目"){
        
        window.location.href="<%-!!locals.pid?'/admin/question?pid='+pid+'&':'/admin/question?'%>keywords="+keywords ;        
      }
		});		
		$("#category").change(function(){
			//alert($(this).val()) ;
			var type = $(this).val() ;
			if(type!=""){
				window.location.href="?type="+type ;							
			}else{
				window.location.href="/admin/news" ;	
			}
		}) ;
    //添加到试卷
    $("#add_paper").click(function(){
      var q_ids = [] ;
      $("input[name=checkbox_question]:checked").each(function(){
        //window.console&&console.log($(this).val()) ;
        q_ids.push($(this).val()) ;
      }) ;
      window.console&&console.log(q_ids) ;
      var p_id = <%-!!locals.pid?pid:'""'%> ;
      if(q_ids.length>0){
        $.post('/admin/paper-question/add',{'p_id':p_id,'q_ids':q_ids},function(json){
          if(json.status=="y"){
            alert("添加成功") ;
          }else{
            alert("添加失败") ;
          }
        }) ;
      }
    }) ;
    //全选/取消
    $("#check_all").click(function(){
      var check = $("#check_all").is(':checked') ;
      $(this).attr("checked",check); 
      //window.console&&console.log(check) ;

      $("input[name='checkbox_question']").each(function(){
        $(this).attr("checked",check);           
      });      
    }) ;

    //选中已加入试卷的题目
    <%
    var pq_arr = [] ;
    if(!!locals.paper_questions){
      paper_questions.forEach(function(pq){
        pq_arr.push(pq.question_id) ;
      %>
      $("input[name='checkbox_question'][value='<%=pq.question_id%>']").attr("checked",true) ;    
      <%
      });
    }
    %>
    

	}) ;
	function deleteNews(id){
		$("#delBtn").attr('v',id) ;
		$('#myModal').modal({
			backdrop:true,
			keyboard:true,
			show:true
		});					
		
	}
	</script>
    

  </body>
</html>