<script src="/resources/js/jquery.url.js" type="text/javascript"></script>

<script type="text/javascript">
$(function(){
  window.console&&console.log(window.location.href) ;
  window.console&&console.log(window.location.host) ;
  window.console&&console.log(jQuery.url.segment(0)) ;
  window.console&&console.log($.url.segment(1)=="null") ;
  $(".nav-list").removeClass('in') ;
  //alert($.url.segment(1)) ;
  switch($.url.segment(1)){
    case 'user':
      $("#accounts-menu").addClass("in") ;
      break;
  case 'code':
      $("#accounts-menu").addClass("in") ;
      break;
      case 'loginlog':
          $("#accounts-menu").addClass("in") ;
          break;
    case 'label':
      $("#tags-menu").addClass("in") ;
      break;
    case 'category':
      $("#questions-menu").addClass("in") ;
      break;
    case 'question':
      $("#questions-menu").addClass("in") ;
      break;
    case 'paper':
      $("#papers-menu").addClass("in") ;
      break;
    case 'paper-questions':
      $("#papers-menu").addClass("in") ;
      break;
    case 'graded':
      $("#graded-menu").addClass("in") ;
      break;
    case 'classification':
        $("#classification-menu").addClass("in") ;
        break;
    case 'contactus':
        $("#settings-menu").addClass("in") ;
        break;
    case 'aboutus':
        $("#settings-menu").addClass("in") ;
        break;
    case 'video':
        $("#video-menu").addClass("in") ;
        break;
    case 'picture':
        $("#picture-menu").addClass("in") ;
        break;
    case 'card':
        $("#card-menu").addClass("in") ;
        break;
    default:
      $("#dashboard-menu").addClass("in") ;
  }
}) ;
</script>
<div class="sidebar-nav">
                  <div class="nav-header" data-toggle="collapse" data-target="#dashboard-menu"><i class="icon-dashboard"></i>仪表盘</div>
                    <ul id="dashboard-menu" class="nav nav-list collapse">
                        <li><a href="/admin">首页</a></li>
                        
                        
                    </ul>
                <div class="nav-header" data-toggle="collapse" data-target="#accounts-menu"><i class="icon-briefcase"></i>会员管理</div>
                <ul id="accounts-menu" class="nav nav-list collapse">
                  <li ><a href="/admin/user">会员列表</a></li>
                  <li ><a href="/admin/loginlog">会员登录日志</a></li>
                  <li ><a href="/admin/code">验证码日志</a></li>
                </ul>

                <div class="nav-header" data-toggle="collapse" data-target="#tags-menu"><i class="icon-exclamation-sign"></i>标签管理</div>
                <ul id="tags-menu" class="nav nav-list collapse">
                  <li ><a href="/admin/label/">标签列表</a></li>
                  <li ><a href="/admin/label/add">添加标签</a></li>
                </ul>

                <div class="nav-header" data-toggle="collapse" data-target="#questions-menu"><i class="icon-exclamation-sign"></i>题库管理</div>
                <ul id="questions-menu" class="nav nav-list collapse">
                  <li ><a href="/admin/category/">题库目录</a></li>
                  <li ><a href="/admin/category/add">添加题库目录</a></li>
                  <li ><a href="/admin/question/">题库列表</a></li>
                  <!--<li ><a href="/admin/question/add">添加题目</a></li>-->
                </ul>

                <div class="nav-header" data-toggle="collapse" data-target="#papers-menu"><i class="icon-exclamation-sign"></i>试卷管理</div>
                <ul id="papers-menu" class="nav nav-list collapse">
                  <li ><a href="/admin/paper">试卷列表</a></li>
                  <li ><a href="/admin/paper/add">添加试卷</a></li>
                </ul>

                <div class="nav-header" data-toggle="collapse" data-target="#graded-menu"><i class="icon-exclamation-sign"></i>分级管理</div>
                <ul id="graded-menu" class="nav nav-list collapse">
                  <li ><a href="/admin/graded">分级列表</a></li>
                  <li ><a href="/admin/graded/add">添加分级</a></li>
                </ul>

                <div class="nav-header" data-toggle="collapse" data-target="#classification-menu"><i class="icon-exclamation-sign"></i>分类管理</div>
                <ul id="classification-menu" class="nav nav-list collapse">
                  <li ><a href="/admin/classification">分类列表</a></li>
                  <li ><a href="/admin/classification/add">添加分类</a></li>
                </ul>

                <div class="nav-header" data-toggle="collapse" data-target="#video-menu"><i class="icon-exclamation-sign"></i>视频管理</div>
                <ul id="video-menu" class="nav nav-list collapse">
                  <li ><a href="/admin/video">视频列表</a></li>
                  <li ><a href="/admin/video/add">视频添加</a></li>
                </ul>

                <div class="nav-header" data-toggle="collapse" data-target="#picture-menu"><i class="icon-exclamation-sign"></i>图片管理</div>
                <ul id="picture-menu" class="nav nav-list collapse">
                  <li ><a href="/admin/picture">图片列表</a></li>
                  <li ><a href="/admin/picture/add">添加图片</a></li>
                </ul>

                <div class="nav-header" data-toggle="collapse" data-target="#card-menu"><i class="icon-exclamation-sign"></i>答题卡管理</div>
                <ul id="card-menu" class="nav nav-list collapse">
                  <li ><a href="/admin/card">答题卡列表</a></li>
                  <li ><a href="/admin/card/add">添加答题卡</a></li>
                </ul>

                <div class="nav-header" data-toggle="collapse" data-target="#settings-menu"><i class="icon-exclamation-sign"></i>设置</div>
                <ul id="settings-menu" class="nav nav-list collapse">
                  <li ><a href="/admin/aboutus">关于我们</a></li>
                  <li ><a href="/admin/contactus">联系我们</a></li>
                  <li ><a href="/admin/notice">公告</a></li>
                </ul>

                
                </div>