<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%=sitename%>管理系统-内容编辑</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <link rel="stylesheet" type="text/css" href="/resources/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/resources/lib/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="/resources/stylesheets/theme.css">
    <link rel="stylesheet" href="/resources/lib/font-awesome/css/font-awesome.css">

	
    <link rel="stylesheet" href="/resources/css/validform_v5.0.css">
	<link href="/resources/js/jquery-ui-1.9.2.custom/css/ui-lightness/jquery-ui-1.9.2.custom.css" rel="stylesheet">

    <script src="/resources/js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="/resources/js/jquery-migrate-1.0.0.js" type="text/javascript"></script>
    <script src="/resources/js/Validform_v5.3.2.js" type="text/javascript"></script>

	<!--<script type="text/javascript" src="/ckeditor/ckeditor.js"></script>-->
	<script language="javascript" type="text/javascript" src="/resources/js/jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.js"></script>
	<script language="javascript" type="text/javascript" src="/resources/js/jquery-ui-1.9.2.custom/js/jquery-ui-timepicker-addon.js"></script>
	<script language="javascript" src="/resources/js/jquery-ui-1.9.2.custom/i18n/jquery-ui-i18n.js"></script>
	<script language="javascript" src="/resources/js/jquery-ui-1.9.2.custom/i18n/jquery-ui-timepicker-zh-cn.js"></script>
	<script>
	$(function(){
		$('#create_date').datetimepicker({
			//inline: true,
			dateFormat: 'yy-mm-dd',
			timeFormat: "HH:mm:ss",
			maxDate:"+0m +0w"
		});
	}) ;
	
	</script>
    <!-- Demo page code -->
    
    <style type="text/css">
        #line-chart {
            height:300px;
            width:800px;
            margin: 0px auto;
            margin-top: 1em;
        }
        .brand { font-family: georgia, serif; }
        .brand .first {
            color: #ccc;
            font-style: italic;
        }
        .brand .second {
            color: #fff;
            font-weight: bold;
        }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/public/img/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
  <!--[if IE 7 ]> <body class="ie ie7"> <![endif]-->
  <!--[if IE 8 ]> <body class="ie ie8"> <![endif]-->
  <!--[if IE 9 ]> <body class="ie ie9"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> 
  <body> 
  <!--<![endif]-->
  <% include navbar %>

  <div class="container-fluid">
        
        <div class="row-fluid">
            <div class="span3">
            <% include slidebar-nav %>
            </div>
        <div class="span9">
            <h1 class="page-title">会员编辑</h1>
<div class="btn-toolbar"></div>
<div class="well">
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active in" id="home">
    <form id="userForm" action="/admin/user/update" onSubmit="return false">
    	<input type="hidden" name="id" value="<%=id%>"/>
        <label>手机</label>
        <input type="text" id="mobile" readonly="true" name="mobile" value="<%=user.mobile%>" class="input-xlarge">
        <%//if(user.taobao!=""){
            %>
        <label>淘宝账号</label>
        <input type="text" id="taobao"  name="taobao" value="<%=user.taobao%>" class="input-xlarge">
            <%
        //}%>
        <label>支付宝账号</label>
        <input type="text" id="alipay"  name="alipay" value="<%=!!user.alipay?user.alipay:""%>" class="input-xlarge">
        <label>姓名</label>
        <input type="text" id="nickname" name="nickname" value="<%=user.nickname%>" class="input-xlarge">
        <label>考生考试时间</label>
        <input type="text" id="exam_time" name="exam_time" value="<%=!!user.exam_time?user.exam_time:""%>" class="input-xlarge">
        <label>地区</label>
        <input type="text" id="address" name="address" value="<%=!!user.address?user.address:""%>" class="input-xlarge">
        <label>验证码发送次数</label>
        <input type="text" id="captcha_count" name="captcha_count" value="<%=!!locals.user&&!!user.settings?JSON.parse(user.settings).captcha_count:""%>" class="input-small"> 次/24小时内

        <label>是否会员</label>
        <select id="is_fee">
            <option value="1" <%if(user.is_fee==1){%>selected<%}%>>是</option>
            <option value="0" <%if(user.is_fee==0){%>selected<%}%>>否</option>
        </select>
        <label>分级权限设置</label>
    	<%graded.forEach(function(grd){ %>
        <label class="checkbox inline">
    		<input type="checkbox" name="graded[]" value="<%=grd.graded_id%>" <%=Math.pow(2,grd.graded_id)&user.power?"checked='checked'":""%>/> <%=grd.name%>
        </label>
    	<%})%>
        <label>分类权限设置</label>
    	<%classification.forEach(function(cla){ %>
        <label class="checkbox inline">
    		<input type="checkbox" name="classification[]" value="<%=cla.classification_id%>" <%=Math.pow(2,cla.classification_id)&user.class_power?"checked='checked'":""%>/> <%=cla.name%>
        </label>
    	<%})%>
        

    <div style="margin:10px 0px 0px 0px">
        <button class="btn btn-primary" id="userBtn">更新</button>
    </div>
    
    </form>
      </div>
      
  </div>

</div>



        </div>
    </div>
    <% include footer %>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/resources/lib/bootstrap/js/bootstrap.js"></script>
    <script src="/resources/js/jquery.getParams.js"></script>
   
    
    
    <script>
	$(function(){
		//alert(Math.pow(2,3)&6) ;
		
		$("#userBtn").click(function(){
            var nickname = $("#nickname").val() ;
            var taobao = $("#taobao").val() ;
            var alipay = $("#alipay").val() ;
			var is_fee = $("#is_fee option:selected").val() ;
			var captcha_count = $("#captcha_count").val() ;
            //alert(is_fee) ;
            var graded = [] ;
            $("input[name='graded[]']:checked").each(function(){
            	graded.push($(this).val()) ;
            }) ;
            var classification = [] ;
            $("input[name='classification[]']:checked").each(function(){
            	classification.push($(this).val()) ;
            }) ;
        	    
            var settings = {"captcha_count":captcha_count} ;
            var exam_time = $("#exam_time").val() ;
            var address = $("#address").val() ;

			var data = {'id':<%=id%>,'nickname':nickname,'taobao':taobao,'alipay':alipay,'is_fee':is_fee,'graded':graded,'classification':classification,'settings':settings, 'exam_time':exam_time, 'address':address} ;
			$.post('/admin/user/update',data,function(data){
                window.console&&console.log(data) ;
				if(data.status=="y"){
					$.Showmsg(data.info) ;
					
					setTimeout(function(){
						$.Hidemsg(); //公用方法关闭信息提示框;显示方法是$.Showmsg("message goes here.");
                        var currPage = $.getURLParam("page");
                        if(currPage){
                            window.location.href="/admin/user?page="+currPage ;
                        }else{
                            window.location.href="/admin/user" ;                            
                        }
					},2000);
				}else if(data.status=="n"){
					$.Showmsg(data.info) ;
				}
			}) ;
		}) ;
	}) ;
    /*
	var editor = CKEDITOR.replace('content', { 
		language:'zh-cn',//简体中文 
		resize_enabled: false,
		toolbar ://工具栏设置 
		[ 
		['Source'], 
		//'/', 
		['Cut','Copy','Paste','PasteText','PasteFromWord'], 
		['Bold','Italic','Underline','Strike','-','Subscript','Superscript'], 
		['TextColor','BGColor'],
		['Image'] 
		]
	}); */
		 
	</script>
    
  </body>
</html>


