/* ::::: http://w.pi.my628.com/skin/default/css/index.css ::::: */

* { margin: 0px; padding: 0px; font-family: 微软雅黑; font-size: 12px; }
a { text-decoration: none; }
ul { list-style: outside none none; }
body { overflow-x: hidden; }
.wrapper { width: 300px; margin: 0px auto; }
.wrap { width: 320px; margin: 0px auto; }
img { border: medium none; }
#header { background: url('t1.jpg') repeat scroll 0% 0% transparent; height: 39px; line-height: 39px; color: rgb(255, 255, 255); width: 100%; }
#logo { font-size: 20px; }
#banner { width: 100%; height: 174px; }
.mainbox { overflow: hidden; position: relative; }
.flashbox { overflow: hidden; position: relative; }
.imagebox { text-align: right; position: relative; z-index: 999; }
.bitdiv { display: inline-block; width: 18px; height: 18px; margin: 0px 10px 10px 0px; cursor: pointer; float: right; }
.defimg { background: url('02.png') repeat scroll 0% 0% transparent; }
.curimg { background: url('01.png') repeat scroll 0% 0% transparent; }
#nav { width: 100%; }
#nav li { background: url('t2.jpg') repeat scroll 0% 0% transparent; height: 43px; line-height: 43px; width: 100%; }
#nav li img { float: left; margin: 0px 10px; }
#nav li a { float: left; color: rgb(255, 255, 255); font-size: 14px; width: 219px; overflow: hidden; }
#main { width: 100%; }
.high { height: 52px; }
#footer { background: none repeat scroll 0% 0% rgb(0, 0, 0); height: 52px; line-height: 52px; position: fixed; bottom: 0px; width: 100%; z-index: 2000; }
#footer a { color: rgb(255, 255, 255); font-size: 14px; float: left; width: 133px; padding-left: 25px; }
#footer a:hover { background: none repeat scroll 0% 0% rgb(17, 17, 17); }
#footer img { float: left; margin: 5px 8px 0px; }
#footer .wrap .bottom1 { width: 300px; margin: auto; overflow-x: hidden; overflow-y: auto; }
#footer .wrap .bottom1 { width: 300px; margin: 0px auto; }
#footer .wrap .bottom1 a { float: left; width: 43px; text-align: center; line-height: 20px; color: rgb(255, 255, 255); height: 44px; border-right: 1px solid rgb(17, 17, 17); padding: 5px 15px 0px; font-size: 12px; }
#footer .wrap .bottom1 a img { margin: 0px 0px 5px; }
