/* ::::: http://w.pi.my628.com/skin/default/css/index.css ::::: */

* { margin: 0px; padding: 0px; font-family: 微软雅黑; font-size: 12px; }
.clear { clear: both; }
a { text-decoration: none; }
ul { list-style: outside none none; }
body { overflow-x: hidden; }
.wrapper { width: 300px; margin: 0px auto; }
.wrap { width: 320px; margin: 0px auto; }
.left { float: left; }
p { text-indent: 2em; margin-bottom: 5px; }
img { border: medium none; }
.clear { clear: both; }
#header { background: url('t1.jpg') repeat scroll 0% 0% transparent; height: 39px; line-height: 39px; color: rgb(255, 255, 255); width: 100%; }
#logo { font-size: 20px; }
#subnav { background: none repeat scroll 0% 0% rgb(51, 52, 56); height: 164px; }
#subnav .wrapper { display: none; }
#subnav ul li { float: left; width: 150px; height: 41px; }
#subnav a { color: rgb(255, 255, 255); }
#subnav ul li.cp1 { background: url('3_13.jpg') no-repeat scroll left top transparent; width: 150px; height: 41px; float: left; text-align: center; line-height: 41px; }
#subnav ul li.cp2 { background: url('3_14.jpg') no-repeat scroll left top transparent; width: 150px; height: 41px; float: left; text-align: center; line-height: 41px; }
#subnav ul li.cp3 { background: url('3_18.jpg') no-repeat scroll left top transparent; width: 150px; height: 41px; float: left; text-align: center; line-height: 41px; }
#subnav ul li.cp4 { background: url('3_17.jpg') no-repeat scroll left top transparent; width: 150px; height: 41px; float: left; text-align: center; line-height: 41px; }
.high { height: 52px; }
#footer { background: none repeat scroll 0% 0% rgb(0, 0, 0); height: 52px; line-height: 52px; position: fixed; bottom: 0px; width: 100%; z-index: 2000; }
#footer a { color: rgb(255, 255, 255); font-size: 14px; float: left; width: 133px; padding-left: 25px; }
#footer a:hover { background: none repeat scroll 0% 0% rgb(17, 17, 17); }
#footer img { float: left; margin: 5px 8px 0px; }
.crumbs { color: rgb(255, 255, 255); background: url('t3.jpg') repeat scroll 0% 0% transparent; height: 39px; line-height: 39px; }
.crumbs img { margin: 0px 45% 0px 10px; }
.crumbs span { font-size: 18px; }
.con { line-height: 22px; background: url('mid.jpg') repeat-x scroll 0% 0% rgb(255, 255, 255); padding: 7px 0px; }
.point { margin-top: 5px; }
.point p { text-indent: 0px; margin-bottom: 0px; }
.point p a { color: rgb(0, 0, 0); }
.point p a:hover { color: rgb(255, 0, 0); }
#footer .wrap .bottom1 { width: 300px; margin: auto; overflow-x: hidden; overflow-y: auto; }
#footer .wrap .bottom1 { width: 300px; margin: 0px auto; }
#footer .wrap .bottom1 a { float: left; width: 43px; text-align: center; line-height: 20px; color: rgb(255, 255, 255); height: 44px; border-right: 1px solid rgb(17, 17, 17); padding: 5px 15px 0px; font-size: 12px; }
#footer .wrap .bottom1 a img { margin: 0px 0px 5px; }
