<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>答题卡下载</title>
<link href="/public/css/card.css" type="text/css" rel="stylesheet"/>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?c3fdf403d98b0c7e1b8603a26554dc37";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body class="body">
<div class="diceng">
<div class="left"></div>
<div class="right">
<div class="rightside1">
</div>
<div class="rightside2"></div>
<div class="rightside3">

</div>
<div class="rightside4"></div>
</div>
</div>

<div class="diceng">
<div class="topimg">
<img src="/public/image/gangqin.jpg" width="130" height="100" />
</div>

<div class="bottomimg">
<img src="/public/image/jt-o.png" width="120" height="260" />
</div>

</div>

<div class="show">
<% include header %>

<div class="showside2">
<div class="menu">
<ul>
<li><a href="/video">视频分享</a></li>
<li><a href="/picture" >图片欣赏</a></li>
<li><a href="/card" class="active">答题卡下载</a></li>
</ul>
</div>
</div>
<div class="showside3">
<%
card.forEach(function(c){ 
%>
<div class="img">
  <a target="_self" href="/public/uploads/card/<%=c.file%>">
  <%=c.filename%>
  </a>
</div>
<%})%>
</div>
<div class="showside4">
<div class="pagenum">
  <%-pager%>
</div>
<a href="/list/fenji" style="font-size:16px;font-weight:bold;">返回主菜单</a>
</div>


</body>
</html>