<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>密码修改</title>
    <link href="/public/css/hsearch.css" type="text/css" rel="stylesheet"/>
    <style type="text/css">
        .input{
            width: 200px;
            padding: 5px;
        }
        .form .submit{
            margin: 10px 80px;
            width: 60px;
            height: 60px;
        }
        .change_btn {
            height: 38px;
            line-height: 38px;
            width: 210px;
            display: inline-block;
            background: #5ab3f4;
            color: #fff;
            border-radius: 5px;
            text-align: center;
            font-size: 16px;
            margin: 10px 0;
        }
        .form a:hover{
            background-color: #5ab3f4;
            text-decoration: none;
        }
    </style>
</head>

<body class="body">
<div class="diceng">
    <div class="left"></div>
    <div class="right">
        <div class="rightside1">
        </div>
        <div class="rightside2"></div>
        <div class="rightside3">

        </div>
        <div class="rightside4"></div>
    </div>
</div>

<div class="diceng">
    <div class="topimg">
        <img src="/public/image/gangqin.jpg" width="110" height="100"/>
    </div>

    <div class="bottomimg">
        <img src="/public/image/jt-o.png" width="120" height="260"/>
    </div>

</div>

<div class="show">

    <% include header %>

    <% include menu %>

    <div class="showside3">
        <div class="head">
            <li>密码修改</li>
        </div>
        <div class="xz">
            <form action="/changepwd" method="post" class="form">
                <h4>旧密码：</h4><input type="password" name="old_password" id="old_password" class="input" /><br/>
                <h4>新密码：</h4><input type="password" class="input" id="password"/><br/>
                <h4>确认密码：</h4><input type="password" name="re_password" id="re_password" class="input" /><br/>
                <!--<input type="submit" class="submit" />-->
                <a class="change_btn" id="changeBtn">确认修改</a>
            </form>
        </div>
        <table class="testtable">


            <tr>
                <td></td>

            </tr>


        </table>

    </div>
    <div class="showside4"></div>

</div>

<script type="text/javascript" src="/public/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
    $("#changeBtn").click(function(){
        var old_pass = $("#old_password").val() ;
        var pass = $("#password").val() ;
        var repass = $("#re_password").val() ;

        if(old_pass==""){
            alert("旧密码不能为空") ;
            return ;
        }
        if(pass==""){
            alert("新密码不能为空") ;
            return ;
        }
        if(repass==""){
            alert("确认密码不能为空") ;
            return ;
        }
        if(pass!=repass){
            alert("两次密码不一致") ;
            return ;
        }
        $.post("/changepwd",{'old_password':old_pass,'password':pass},function(data){
            if(data.status=="y"){
                alert(data.info) ;
            }else{
                alert(data.info) ;
            }
        }) ;
    }) ;
</script>

</body>
</html>
