<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>联系我们</title>
<link href="/public/css/aboutus.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript" src="/public/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
	$(function(){
		
	});
</script>
</head>

<body class="body">
<div class="diceng">
<div class="left"></div>
<div class="right">
<div class="rightside1">
</div>
<div class="rightside2"></div>
<div class="rightside3">

</div>
<div class="rightside4"></div>
</div>
</div>

<div class="diceng">
<div class="topimg">
<img src="/public/image/gangqin.jpg" width="110" height="100" />
</div>

<div class="bottomimg">
<img src="/public/image/jt-o.png" width="120" height="260" />
</div>

</div>

<div class="show">
<% include header %>

<div class="showside2">
<div class="menu">
<h1><a href="/aboutus">关于我们</a></h1>
<h1 class="curr">联系方式</h1>
</div>
</div>
<div class="showside3">
<%-!!locals.contactus?contactus[0].option_value:""%>
</div>


</div>


</body>
</html>
