<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>测试结果</title>
<link href="/public/css/testresult.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript" src="/public/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
(function($){
	$(function(){
		///paper/<%=id%>
		$("#resetTest").click(function(){
			if(confirm("重新测试将清空上次答题结果")){
				$.post('/free/resettest',{paper_id:<%=id%>},function(data){
					if(data.status=="y"){
						window.location.href="/free/paper/<%=id%>" ;
					}
				}) ;
			}
		}) ;		
	}) ;
})(jQuery) ;
	
</script>
</head>

<body class="body">
<div class="diceng">
<div class="left"></div>
<div class="right">
<div class="rightside1">
</div>
<div class="rightside2"></div>
<div class="rightside3">

</div>
<div class="rightside4"></div>
</div>
</div>

<div class="diceng">
<div class="topimg">
<img src="/public/image/gangqin.jpg" width="110" height="100" />
</div>

<div class="bottomimg">
<img src="/public/image/jt-o.png" width="120" height="260" />
</div>

</div>

<div class="show">
<% include header %>

<div class="showside2">
<div class="menu">
<h1>免费测试结果</h1>
</div>
</div>

<div class="showside3">
<div class="head">
<li class="tle1"><%=!!locals.paper&&paper.title%></li>
<li class="tle2">测试结果</li>
</div>

<div class="righ">
<div class="tex">
<li>正确的是：</li>
</div>
<table class="mark">
<tr class="tr">
<%
if(!!locals.correct){
	correct.forEach(function(c){
%>
<td class="td"><a href="/free/paper/<%=id%>#<%=c%>"><%=c%></a></td>
<%		
	});
}
%>
</tr>
</table>
</div>
<div class="faul">
<div class="tex">
<li>错误的是：</li>
</div>
<table class="mark">
<tr class="tr">
<%
if(!!locals.wrong){
	wrong.forEach(function(w){
%>
<td class="td"><a href="/free/paper/<%=id%>#<%=w%>"><%=w%></a></td>
<%		
	});
}
%>
</tr>
</table>
</div>

<div class="results">
<h3>你的成绩是<span><%=score%></span>分</h3>
<h3>请继续努力</h3>
</div>

</div>
<div class="showside4">
<div class="bot1">
<a href="javascript:;" id="resetTest">清除记录重新测试</a>
</div>
<div class="bot2">
<a href="/">返回主页</a>
</div>

</div>
</div>


</body>
</html>