<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>分级训练模式</title>
<link href="/public/css/fenji.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript" src="/public/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
	$(function(){
		//$(".showside2 .menu ul li a").css({'display':'block'}) ;
		//$(".showside2 .menu ul li ul ").css({'display':'block','position':'relative','margin':0}) ;
		//$(".showside2 .menu ul li ul li a").css({'display':'block','background':'none','font-size':13}) ;
	});
</script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?c3fdf403d98b0c7e1b8603a26554dc37";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body class="body">
<div class="diceng">
<div class="left"></div>
<div class="right">
<div class="rightside1">
</div>
<div class="rightside2"></div>
<div class="rightside3">

</div>
<div class="rightside4"></div>
</div>
</div>

<div class="diceng">
<div class="topimg">
<img src="/public/image/gangqin.jpg" width="110" height="100" />
</div>

<div class="bottomimg">
<img src="/public/image/jt-o.png" width="120" height="260" />
</div>

</div>

<div class="show">

<% include header %>

<div class="showside2">
<div class="menu">
<h1>免费题库</h1>
</div>
</div>

<div class="showside3">
<div class="head">
<li>第一音乐在线模拟试题库</li>
</div>
<div class="xuanze">
<ul>
<%
if(!!locals.graded){
graded.forEach(function(gad){%>            
	<li class="line2">|</li>
	<li><a href="/list/fenji/<%=gad.graded_id%>" <%-!!locals.id&&id==gad.graded_id?"style='background:#99cc00'":""%>><%=gad.name%></a></li>
<%})}%>

</ul>
</div>
<table class="testtable">


<tr>
<% 
var count = 0 ;
if(!!locals.papers){
papers.forEach(function(paper){ 
count++ ;
%>
<td><a href="/free/paper/<%=paper.paper_id%>"><%=paper.title%></a></td>
<%-count!=0&&count%3==0&&count!=papers.length?"</tr>\n\n<tr>":""%>
<% }) }%>
</tr>


</table>


</div>
<div class="showside4">
<div class="pagenum">
	<%-pager%>
</div>
</div>

</div>


</body>
</html>
