<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>在线测试</title>
<link href="/public/css/test.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript" src="/public/js/jquery-1.4.2.js"></script>
<script type="text/javascript" src="/public/js/jquery.history.js"></script>
<script type="text/javascript">
//paper_id
var paper_id = <%=!!locals.id?id:""%> ;
//试卷题目总数
var paperCount = <%=!!locals.paperCount?paperCount:0%> ;

var ajaxUrl = {} ;
ajaxUrl.paperquestion = '/free/paper-question' ;
ajaxUrl.respondents = '/free/respondents' ;
ajaxUrl.testresult = '/free/testresult' ;
</script>
<script type="text/javascript" src="/public/js/jquery.test.js"></script>
</head>

<body class="body">
<div class="diceng">
<div class="left"></div>
<div class="right">
<div class="rightside1">
</div>
<div class="rightside2">
<div class="time">
<h2>剩余&nbsp;<span id="shower"></span></h2>

</div>	
</div>
<div class="rightside3">
<img src="/public/image/sy.png" />
</div>
<div class="rightside4"></div>
</div>
</div>

<div class="diceng">
<div class="topimg">
<img src="/public/image/gangqin.jpg" width="110" height="100" />
</div>

<div class="bottomimg">
<img src="/public/image/jt-o.png" width="120" height="260" />
</div>

</div>

<div class="show">
<% include header %>

<div class="showside2">
<div class="menu">
<h1>免费测试</h1>
</div>
</div>

<div class="showside3">


<ul class="shiti" >

</ul>


</div>
<div class="showside4">
<div class="sx">
<div class="prete"><a href="javascript:;">上一题</a></div>
<div class="tijiao"><a href="javascript:;">提交</a></div>
<div class="nextte"><a href="javascript:;">下一题</a></div>

</div>

</div>


</body>
</html>