<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>在线测试</title>
<link href="/public/css/test.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript" src="/public/js/jquery-1.4.2.js"></script>
<script type="text/javascript" src="/public/js/jquery.history.js"></script>
<script type="text/javascript">
//paper_id
var paper_id = <%=!!locals.id?id:""%> ;
//试卷题目总数
var paperCount = <%=!!locals.paperCount?paperCount:0%> ;

var ajaxUrl = {} ;
ajaxUrl.paperquestion = '/free/paper-question' ;
ajaxUrl.respondents = '/free/respondents' ;
ajaxUrl.testresult = '/free/testresult' ;
</script>
<script type="text/javascript" src="/public/js/jquery.test.js?r=<%=Math.random()%>"></script>
</head>

<body class="body">
<div class="diceng">
	<div class="left"></div>
	<div class="right">
		<div class="rightside2"></div>
		<div class="rightside3">
	</div>
	<div class="rightside4">
		<div class="time">
			<h2>剩余&nbsp;<span id="shower"></span></h2>
		</div>
	</div>
	</div>
</div>


<div class="show">
	<div class="showside2"></div>
	<div class="showside3">
		<div class="shiti">
			
		</div>
	</div>

	<div class="showside4">
		<div class="sx">
		<div class="prete"><a href="">上一题</a></div>
		<div class="tijiao"><a href="">提交</a></div>
		<div class="nextte"><a href="">下一题</a></div>
		</div>

	</div>
</div>
</body>
</html>