<div class="showside1">
<li class="name" onclick="window.location.href='/'">第一音乐在线网</li>
<li class="tel">联系电话：186-1004-2069</li>
<li class="welcome">欢迎<span><%=!!locals.user?user.nickname:"XXX"%></span></li>
<div class="exit">
<a href="/logout"><%=!!locals.user?"退出":""%></a>
</div>
</div>
