<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>历史查询</title>
<link href="/public/css/hsearch.css" type="text/css" rel="stylesheet"/>
</head>

<body class="body">
<div class="diceng">
<div class="left"></div>
<div class="right">
<div class="rightside1">
</div>
<div class="rightside2"></div>
<div class="rightside3">

</div>
<div class="rightside4"></div>
</div>
</div>

<div class="diceng">
<div class="topimg">
<img src="/public/image/gangqin.jpg" width="110" height="100" />
</div>

<div class="bottomimg">
<img src="/public/image/jt-o.png" width="120" height="260" />
</div>

</div>

<div class="show">

<% include header %>

<% include menu %>

<div class="showside3">
<div class="head">
<li>第一音乐在线模拟试题库</li>
</div>
<div class="xz">
<ul>
<li></li>

<li></li>

<li></li>

<li></li>
</div>
<table class="testtable">



<tr>
<% 
var count = 0 ;
if(!!locals.papers){
papers.forEach(function(paper){ 
count++ ;
%>
<td><a href="/testresult/<%=paper.paper_id%>"><%=paper.title%></a></td>
<%-count!=0&&count%3==0&&count!=papers.length?"</tr>\n\n<tr>":""%>
<% }) }%>

</tr>


</table>

</div>
<div class="showside4"></div>

</div>


</body>
</html>
