<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>图片信息</title>
<link href="/public/css/imagesinfo.css" type="text/css" rel="stylesheet"/>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?c3fdf403d98b0c7e1b8603a26554dc37";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body class="body">
<div class="diceng">
<div class="left"></div>
<div class="right">
<div class="rightside1">
</div>
<div class="rightside2"></div>
<div class="rightside3">

</div>
<div class="rightside4"></div>
</div>
</div>

<div class="diceng">
<div class="topimg">
<img src="/public/image/gangqin.jpg" width="130" height="100" />
</div>

<div class="bottomimg">
<img src="/public/image/jt-o.png" width="120" height="260" />
</div>

</div>

<div class="show">
<% include header %>


<div class="showside2">
<div class="menu">
<ul>
<li><a href="/video">视频分享</a></li>
<li><a href="/picture" class="active">图片欣赏</a></li>
<li><a href="/card">答题卡下载</a></li>
</ul>
</div>
</div>
<div class="showside3">
<div class="photo">

  <img src="/public/uploads/picture/<%=picture.file%>" alt="Ballade" width="200" height="150">

</div>
<div class="content">
<h3>图片描述：</h3>
<div class="text">
<%=!!locals.picture?picture.description:""%>
</div>
</div>
</div>
<div class="showside4">
<!--
<div class="sx">
<div class="prete"><a href="">上一页</a></div>
<div class="tijiao"><a href="/">返回首页</a></div>
<div class="nextte"><a href="">下一页</a></div>

</div>
-->
</div>


</body>
</html>