<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>图片欣赏</title>
<link href="/public/css/images.css" type="text/css" rel="stylesheet"/>
<link rel="stylesheet" href="/public/css/colorbox.css" />
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="/public/js/jquery.colorbox.js"></script>
		<script>
			$(document).ready(function(){
				//Examples of how to assign the Colorbox event to elements
				//$(".group").colorbox({rel:'group2', transition:"fade"});
				$(".group").colorbox({rel:'group3', transition:"fade", width:"75%",height:"75%"});
				
			});
		</script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?c3fdf403d98b0c7e1b8603a26554dc37";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body class="body">
<div class="diceng">
<div class="left"></div>
<div class="right">
<div class="rightside1">
</div>
<div class="rightside2"></div>
<div class="rightside3">

</div>
<div class="rightside4"></div>
</div>
</div>

<div class="diceng">
<div class="topimg">
<img src="/public/image/gangqin.jpg" width="130" height="100" />
</div>

<div class="bottomimg">
<img src="/public/image/jt-o.png" width="120" height="260" />
</div>

</div>

<div class="show">
<% include header %>


<div class="showside2">
<div class="menu">
<ul>
<li><a href="/video">视频分享</a></li>
<li><a href="/picture" class="active">图片欣赏</a>
<ul>
<li><a href="/picture?cid=2" style="font-size:16px" <%=!!cid&&cid=="2"?"class=active":''%>>初级</a></li>
<li><a href="/picture?cid=4" style="font-size:16px" <%=!!cid&&cid=="4"?'class=active':''%>>中级</a></li>
</ul>

</li>
<li><a href="/card">答题卡下载</a></li>
</ul>
</div>
</div>
<div class="showside3">
<%
picture.forEach(function(p){ 
%>
<div class="img">
  <!--<a target="_self" class="group"> href="/picture/info/<%=p.id%>">-->
  <a target="_self" class="group" title="<%=p.description%>" href="/public/uploads/picture/<%=p.file%>">
  <img src="/public/uploads/picture/<%=p.file%>" alt="Ballade" width="200" height="150">
  </a>
</div>
<%})%>
</div>
<div class="showside4">
<div class="pagenum">
  <%-pager%>
</div>
<a href="/list/fenji" style="font-size:16px;font-weight:bold;">返回主菜单</a>
</div>


</body>
</html>