<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>首页</title>
    <link href="/public/css/main.css" type="text/css" rel="stylesheet"/>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?c3fdf403d98b0c7e1b8603a26554dc37";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body class="body">
<div class="diceng">
    <div class="left">
        <div class="leftside"></div>
        <div class="leftside2"></div>
    </div>
    <div class="right">
        <div class="rightside-0"></div>
        <div class="rightside-420"></div>
    </div>
</div>

<div class="diceng">
    <div class="middleimg">
        <img src="/public/image/jt-o.png" width="235" height="470"/>
    </div>
    <div class="top1">
        <ul class="text">第一音乐在线网</ul>
    </div>
    <div class="top2">
        <ul class="text">京ICP备16003524</ul>
    </div>
    <div class="dianji">

        <div class="left ml_40">
            <ul class="img">
                <a href="/free/list"><img src="/public/image/mianfei.jpg" width="92" height="75"/></a></ul>
            <ul class="text"><a href="/free/list">免费试用</a></ul>
        </div>

        <div class="left pdleft10">
            <ul class="img">
                <a href="/list/fenji"><img src="/public/image/gangqin.jpg" width="92" height="75"/></a></ul>
            <ul class="text"><a href="/list/fenji">在线学习</a></ul>
        </div>
        <div class="left pdleft10">
            <ul class="img">
                <a href="http://shop110434287.taobao.com/index.htm" target="_blank"><img
                            src="/public/image/taobao.jpg"/></a></ul>
            <ul class="text"><a href="">商城购买</a></ul>
        </div>
        <div class="left pdleft10">
            <ul class="img">
                <a href="javascript:;" onmouseover="document.getElementById('weidian_nr').style.display='block';"
                   onmouseout="document.getElementById('weidian_nr').style.display='none';"
                   onmousedown="document.getElementById('weidian_nr').style.display='block';">
                    <img src="/public/image/weidian.jpg"/></a></ul>
            <div id="weidian_nr">
                <img src="/public/image/weidiancode.jpg"/>
            </div>
            <ul class="text"><a href="" onmouseover="document.getElementById('weidian_nr').style.display='block';"
                                onmouseout="document.getElementById('weidian_nr').style.display='none';"
                                onmousedown="document.getElementById('weidian_nr').style.display='block';">微店</a></ul>
        </div>

        <div class="left pdleft10">
            <ul class="img">
                <a href="/aboutus"><img src="/public/image/aboutus.jpg"/></a></ul>
            <ul class="text"><a href="/aboutus">关于我们</a></ul>
        </div>

        <!-- <div class="left pdleft10">
            <ul class="img">
                <a href="/landing"><img src="/public/image/ad.jpg"/></a></ul>
            <ul class="text"><a href="/landing">广告推广</a></ul>
        </div> -->

    </div>
</div>
<a href="http://webscan.360.cn/index/checkwebsite/url/www.musiconline1.com"><img border="0"
                                                                                 src="http://img.webscan.360.cn/status/pai/hash/4b84f95464aeed601c3a9989da9b501a"/></a>
</body>
</html>
