<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>第一音乐网在线</title>
<link href="/public/css/style.css" type="text/css" rel="stylesheet" />
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?c3fdf403d98b0c7e1b8603a26554dc37";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body class="body">
<div class="div1">
<div class="top">
<img src="/public/image/logo.jpg" />
<p>24小时联系：186-1004-2069</p>
</div>
<div class="top1">
<img src="/public/image/big.jpg" />
</div>
<div class="nav">
<div class="menus">
               <li><a href="/">首&nbsp;&nbsp;页</a></li>
               <li><a href="/list/fenji">在线测试</a></li>
               <li ><a href="/free/list">免费试用</a></li>
               <li ><a href="">功能介绍</a></li>
               <li ><a href="">考试须知</a></li>
               <li ><a href="/reg">立即注册</a></li>
</div>
</div>
</div>
<div class="div2">
<div class="left">
<img src="/public/image/Nav_free.jpg" />
</div>
<div class="right">
<img src="/public/image/Nav_reg.jpg" />
</div>
</div>
<div class="div3">
<img src="/public/image/Nav_bot.jpg" />
</div>
<div class="div4">
<div class="h">涵盖教材全部知识点，不仅满足考试训练，还能让学生扎实掌握音乐基础知识
</div>
<div class="fen"><li>音基初级<span style="font-size:16px;">(<a href="http://item.taobao.com/item.htm?id=40551961954" target="_blank">购买</a>)</span></li><li>初级视唱</li><li>分类测试</li></div>
<div class="fen"><li>音基中级<span style="font-size:16px;">(<a href="http://item.taobao.com/item.htm?spm=686.1000925.0.0.tCXPLQ&id=43135168423" target="_blank">购买</a>)</span></li><li>中级视唱</li><li>分级测试</li></div>
<div class="h">购买联系电话：186-1004-2069</div>
</div>
<div class="div5">
<div class="lizi">
<img src="/public/image/exbi.jpg" />
</div>
<div class="tel">购买联系电话：186-1004-2069</div>
</div>
<div class="div6">
<h1>第一音乐网在线</h1>
<p>北京市朝阳区望京星源国际B座808&nbsp;186-1004-2069</p>
<div class="bot">
<div class="menu">
<li><a href="/free/list">免费试用</a></li>
<li><a href="/list/fenji">在线测试</a></li>
<!--<li><a href="http://item.taobao.com/item.htm?id=40504594337" target="_blank">商城购买</a></li>-->
<li><a href="http://shop110434287.taobao.com/index.htm">商城购买</a></li>
<li><a href="/aboutus">关于我们</a></li>
</div>
</div>
<h4>www.musiconline1.com&nbsp;&nbsp;京ICP备14080032</h4>
</div>
</body>
</html>
