<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>用户登陆</title>
<link href="/public/css/login.css" type="text/css" rel="stylesheet"/>
<script src="/resources/js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="/resources/js/jquery-migrate-1.0.0.js" type="text/javascript"></script>
<script src="/public/js/jquery.user.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?c3fdf403d98b0c7e1b8603a26554dc37";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body class="body">
<div class="diceng">
<div class="left">
<div class="leftside"></div>
<div class="leftside2"></div>
</div>
<div class="right">
<div class="rightside-0"></div>
<div class="rightside-420"></div>
</div>
</div>

<div class="dingceng">
<div class="middleimg">
<img src="/public/image/jt-o.png" width="235" height="470" />
</div>
<div class="top1">
<ul class="text">第一音乐在线网</ul>
</div>
<div class="top2">
<ul class="text">京ICP备14080032</ul>
</div>


<div class="login1">

<h1>用户登陆</h1>

<div class="fangshi">
<ul>
<li style="background:#F96"><a href=""><font style=" color:#FFF;">手机号码登录</a></li>
<!--
<li><a href="">淘宝账户登录</a></li>  -->
</ul>
</div>

<div class="info">
<ul><input class="cod1" type="text"  name="mobile" id="mobile"/></ul>
<ul><input class="cod1" type="password" name="password" id="password" /></ul>
<ul><input class="cod2" type="text" name="code" id="code" /><img id="captcha"/></ul>

<!--<ul><input class="cod2" type="text" name="mobileCode" id="mobileCode" /> <input type="button" id="sendSms" style="margin-bottom:10px" value="发送手机验证码" /></ul>-->
<!--<img src="/public/image/code.jpg" width="95" height="35" />-->

</div>

<div  class="button" style="position:relative; float:left;"> <a href="javascript:;" id="loginBtn"><font class="text2" style="margin-left:50px;">登&nbsp陆</font></a></div>
<div  class="button" style=" margin-right:10px; position:relative; float:right;"> <a href="/reg"><font class="text2" style="left:5px; margin-left:15px;">新用户注册</font></a></div>

</div>
</div>
<!--
<div class="login1">

<img src="/public/image/login2.png" width="376" height="366" />

<h2>用户登陆</h2>
<div class="fangshi2">
<ul>
<li><a href="">手机号码登录</a></li>
<li><a href="">淘宝账户登录</a></li>
</ul>
</div>
-->





</div>

</body>
</html>

