<style>
.triangle_down {
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 20px solid transparent;
    border-top-color: #FFF;
    border-bottom-width: 0;

}
.triangle_up {
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 20px solid transparent;
    border-bottom-color: #FFF;
    border-top-width: 0;
}
</style>
<script type="text/javascript">
/*
	$(function(){
		$("#triangle").addClass("triangle_down") ;
		$("#triangle").parent().parent().hover(function(){
			$("#triangle").removeClass("triangle_down") ;
			$("#triangle").addClass("triangle_up") ;
		},function(){
			$("#triangle").removeClass("triangle_up") ;
			$("#triangle").addClass("triangle_down") ;
		}) ;
	}) ;
*/	
</script>
<div class="showside2">
	<div class="menu">
		<div class="menul">
			<div class="store">
				<a href="/list/fenji">在线测试</a>
			</div>
			<div class="test">
				<li><a href="/list/fenji">分级训练模式</a></li>
				<li class="ml30"><a href="/list/fenlei">分类训练模式</a></li>
			</div>
		</div>
		<li class="line">|</li>
		<div class="menur">
			<div class="his"><a href="/list/history">历史查询</a></div>
            <!--<div style="position:absolute;float: right;display: inline;top: 10px;left: 200px;width: 60px">修改密码</div>-->
		</div>

	</div>
	<div class="menu2" style="margin-right:50px">
		<ul>
			<li><a href="/video">视频分享</a></li>
			<li><a href="/picture">图片赏析</a></li>
			<li><a href="/card">答题卡下载</a></li>
		</ul>
        <span><a href="/changepwd">修改密码</a></span>
	</div>
	<div style="clear:both;float:right;color:white;font-weight:bold;width:230px;margin-top:-20px;font-size:16px">
		<marquee  behavior="" scrollamount="2" direction=""><%-!!locals.notice?notice[0].option_value:""%></marquee>
	</div>
</div>