<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>分类训练模式</title>
<link href="/public/css/fenlei.css" type="text/css" rel="stylesheet"/>

<link rel="stylesheet" type="text/css" href="/resources/lib/bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/resources/lib/bootstrap/css/bootstrap-responsive.min.css">
<link rel="stylesheet" href="/resources/css/playlist-demo.css">
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

<!--
<script src="/resources/js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="/resources/js/jquery-migrate-1.0.0.js" type="text/javascript"></script>
-->
<script>

</script>
                <%
                if(!!locals.musics){
                        musics.forEach(function(music){
                        %>
			<bgsound volume='-5000' id='bgsound1' loop='1' src="/public/uploads/musics/<%=music.file%>">
                        <%
                        }) ;
                }
                %>
                <script>
                    var _hmt = _hmt || [];
                    (function() {
                        var hm = document.createElement("script");
                        hm.src = "//hm.baidu.com/hm.js?c3fdf403d98b0c7e1b8603a26554dc37";
                        var s = document.getElementsByTagName("script")[0];
                        s.parentNode.insertBefore(hm, s);
                    })();
                </script>
</head>

<body class="body">
<div class="diceng">
<div class="left"></div>
<div class="right">
<div class="rightside1">
</div>
<div class="rightside2"></div>
<div class="rightside3">

</div>
<div class="rightside4"></div>
</div>
</div>

<div class="diceng">
<div class="topimg">
<img src="/public/image/gangqin.jpg" width="110" height="100" />
</div>

<div class="bottomimg">
<img src="/public/image/jt-o.png" width="120" height="260" />
</div>

</div>

<div class="show">
<% include header %>

<% include menu %>

<div class="showside3">
<div class="head">
<li></li>
</div>


	<div class="mod" style="float:left;">
	    <div class="hd">播放列表</div>
	    <div class="bd">
	        <ul id="playlist-demo" style="overflow-y: scroll;height:300px;width:500px;">
	        <%
	        if(!!locals.musics){
	        	musics.forEach(function(music){
	        	%>
	        	<li>
<audio class="audio" style="width:290px;height:30px" controls="controls" src="/public/uploads/musics/<%=music.file%>"></audio>	<%=music.filename%> 
</li>       	
	            <!--<li data-link="/public/uploads/musics/<%=music.file%>" data-id="<%=music.id%>" class="pause"><i class="play-btn"></i><%=music.filename%> <a class="icon-remove"></a></li>-->
	        	<%
	        	}) ;
	        }
	        %>
	        </ul>
		
	    </div>
	</div>



</div>
<div class="showside4">
<div class="pagenum">
</div>
</div>

</div>

	<script src="/resources/js/player.js"></script>
	<!-- <script src="http://mu7.bdstatic.com/cms/app/muplayer/0_9_1/player.js"></script> -->
	<script>
		var pid = '<%=!!locals.pid?pid:''%>' ;
		var player = window.player = new _mu.Player({
	        mode: 'list',
	        baseDir: '/public/dist'
	    }),
	    $pl = $('#playlist-demo'),
	    reset = function() {
	        $pl.find('> li').removeClass('playing pause')
	            .find('.time').remove();
	    },
	    findCurrItem = function() {
	        var link = player.getCur();
	        link = link.substring(link.indexOf('/public/uploads/musics/'));
	        return $pl.find('[data-link="' + link + '"]');
	    },
	    $time = $('<span class="time"></span>');
	
		$pl.on('click', '> li', function() {
		    var $this = $(this);
		    if ($this.hasClass('playing')) {
		        player.pause();
		    } else {
		        player.reset().add($this.data('link'));
			player.play() ;
			player.replay() ;
		    }
		});
				
		
		player.on('playing pause', function() {
		    reset();
		    findCurrItem().addClass(player.getState()).append($time);
		}).on('ended', reset).on('timeupdate', function() {
		    $time.text(player.curPos(true) + ' / ' + player.duration(true));
		});
	</script>
	

</body>
</html>
