<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>注册页面</title>
<link href="/public/css/zhuce.css" type="text/css" rel="stylesheet"/>
<script src="/resources/js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="/resources/js/jquery-migrate-1.0.0.js" type="text/javascript"></script>
<script src="/public/js/jquery.user.js?v=20150305"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?c3fdf403d98b0c7e1b8603a26554dc37";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body class="body">
<div class="diceng">

<div class="leftside"></div>

<div class="right">
<div class="rightside-0"></div>
<div class="rightside-450"></div>
</div>
</div>

<div class="dingceng">

<div class="top1">
<ul class="text">第一音乐在线网</ul>
</div>
<div class="top2">
<ul class="text">京ICP备14080032</ul>
</div>
<div class="middleimg">
<img src="/public/image/jt-o.png" width="235" height="470" />
</div>

<div class="zhuce">
<div class="head"><h1>新用户注册</h1></div>
<div class="xinxi" style="text-align:justify;">




<ul><tr style="width:100px; text-align:justify;">用&nbsp;户&nbsp;名：</tr><input type="text" id="mobile" name="mobile" /> 请使用手机号码注册</ul>
<ul style="margin-bottom:10px">验&nbsp;证&nbsp;码：<input type="text" name="code" id="code" /><img style="float:right;padding-left:10px;padding-bottom:10px" id="captcha"/></ul>
<ul><td style="width:70px; text-align:justify;">手机验证码：<td><input type="text" name="mobileCode" id="mobileCode" /> <input type="button" id="sendSms" style="margin-bottom:10px" value="短信验证码" /><input type="button" id="sendVoice" style="margin-bottom:10px" value="语音验证码" /></ul>
<ul>考生考试时间：<input type="text" name="exam_time" id="exam_time" />年月（如：201501）</ul>
<ul>昵&nbsp;&nbsp;&nbsp;称：<input type="text" name="nickname" id="nickname" /></ul>
<ul>地&nbsp;&nbsp;&nbsp;区：<input type="text" name="address" id="address" /> 省 市</ul>
<ul>购买账号：<input type="text" name="taobao" id="taobao" /> 仅作题库权限购买使用<br/>（淘宝账号或其他交易号）
</ul>
<ul></ul>
<ul>密&nbsp;码：<input type="password" name="password" id="password"/> 请使用数字 字母 或符号</ul>
<ul>确认密码：<input type="password" name="rpassword" id="rpassword" /></ul>
<ul> <div style="padding-left:60px"><input type="checkbox" name="read" id="read"/>我已阅读<a href="javascript:;">注册协议</a></div></ul>
<ul></ul><ul></ul>
</div>
<div class="bottom"><a href="javascript:;" id="reg">同意并完成注册</a></div>
<!--<ul style="margin-left:58px">支付宝账号：<input type="text" name="alipay" id="alipay" /> 仅作题库权限购买使用</ul>-->
</div>







</div>

</body>
</html>
