<!DOCTYPE HTML>
<html>
<head>
<script src="/socket.io/socket.io.js"></script>
<script>
	if (/Firefox\/\s/.test(navigator.userAgent)){
		alert(1) ;
	    var socket = io.connect(window.location.protocol+'//'+window.location.host,{transports:['xhr-polling']}); 
	} 
	else if (/MSIE (\d+.\d+);/.test(navigator.userAgent)){
		alert(2) ;
	    var socket = io.connect(window.location.protocol+'//'+window.location.host,{transports:['jsonp-polling']}); 
	} 
	else { 
		alert(3) ;
	    var socket = io.connect(window.location.protocol+'//'+window.location.host); 
	}
	//var socket = io.connect(window.location.protocol+'//'+window.location.host,{transports:['xhr-polling']}); 
	//var socket = io.connect(window.location.protocol+'//'+window.location.host);
	socket.on('news', function (data) {
		alert(data) ;
		console.log(data);
		socket.emit('my other event', { my: 'data' });
	});
</script>
</head>

<body>

</body>
</html>