<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>视频分享</title>
<link href="/public/css/video.css" type="text/css" rel="stylesheet"/>
<link href="/public/css/video-js.css" rel="stylesheet">
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="/public/js/video.js"></script>
<script>
  videojs.options.flash.swf = "/public/swf/video-js.swf"
  $(function(){
	  var myPlayer = videojs('video');
		myPlayer.src([
		  { type: "video/mp4", src: "/public/uploads/video/<%=!!locals.video&&!!video[0]?video[0].file:''%>" }
		]);	  
	  //myPlayer.play();

	  $(".video").click(function(){
	  	var file = $(this).attr("file") ;
	  	var filename = $(this).text() ;	
	  	play(file,filename) ;
	  });
	  $(".name").click(function(){
	  	window.location.href="/" ;
	  }) ;
  });
  var play = function(file,filename){
  	  $("#currPlay").html(filename) ;
	  var myPlayer = videojs('video');
		myPlayer.src([
		  { type: "video/mp4", src: "/public/uploads/video/"+file }
		]);	  
	  myPlayer.play();
  }
</script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?c3fdf403d98b0c7e1b8603a26554dc37";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body class="body">
<div class="diceng">
<div class="left"></div>
<div class="right">
<div class="rightside1">
</div>
<div class="rightside2"></div>
<div class="rightside3">

</div>
<div class="rightside4"></div>
</div>
</div>

<div class="diceng">
<div class="topimg">
<img src="/public/image/gangqin.jpg" width="130" height="100" />
</div>

<div class="bottomimg">
<img src="/public/image/jt-o.png" width="120" height="260" />
</div>

</div>

<div class="show">
<% include header %>


<div class="showside2">
<div class="menu">
<ul>
<li class="active"><a href="/video" class="active">视频分享</a></li>
<li><a href="/picture">图片欣赏</a></li>
<li><a href="/card">答题卡下载</a></li>
</ul>
</div>
</div>
<div class="showside3">
<div class="vleft">
<div class="vbox">
<!--<img src="/public/image/gangqin.jpg" width="540" height="340" />-->
<video id="video" class="video-js vjs-default-skin" controls preload="none" width="540" height="340"
      poster=""
      data-setup="{}">
    <track kind="captions" src="demo.captions.vtt" srclang="en" label="English"></track><!-- Tracks need an ending tag thanks to IE9 -->
    <track kind="subtitles" src="demo.captions.vtt" srclang="en" label="English"></track><!-- Tracks need an ending tag thanks to IE9 -->
    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
  </video>

</div>
<div class="vitem">
正在播放视频：<span id="currPlay"><%=!!video&&!!video[0]?video[0].filename:''%></span>
</div>
</div>
<div class="vright">
<h2>视频播放列表：</h2>
<div class="vlist">
<table>
<%
video.forEach(function(v){ 
%>
<tr>
<td><a href="javascript:;" class="video" file="<%-v.file%>"><%=v.filename%> </a></td>
</tr>
<%})%>
</table>
</div>
</div>
</div>
<div class="showside4">
<div class="pagenum">
	<%-pager%>
</div>
<a href="/list/fenji" style="font-size:16px;font-weight:bold;">返回主菜单</a>

</div>


</body>
</html>