@charset "utf-8";
/* CSS Document */
body, div, p, ul, ol, dl, dt, dd, li, form, input, table, img, h1, h2, h3, h4, h5, h6{margin:0; padding:0;}
body{ color:#1D1D1D; font-size:13px;font-style:normal; font-weight:normal; font-family:"宋体",Verdana,sans-serif;}
em, b, i{font-style:normal;}
p{line-height:1.25em;}
a{color:#1D1D1D;text-decoration:none;font-family:"宋体",Verdana,sans-serif;}
a:link, a:visited{ }
a:hover, a:active{text-decoration: underline; color:#f00;}
a.on:hover, a.cur:hover, .on a:hover, .cur a:hover{text-decoration:none;}
img, a img{border:0 none;}
img.no_border{background:none;border:0 none;}
ul,li, ol{list-style-type:none; float:left;}
.clear{clear: both; font-size:1px; line-height:1px; height:1px; overflow:hidden; width:100%;}
.clear5{clear: both;height:5px; overflow:hidden; width:100%;}
.clear25{clear: both;height:25px; overflow:hidden; width:100%;}
.maring10 { margin-top:10px;}
.maring20 { margin-top:20px;}
.padding5 { padding-left:5px;}
/* 首页 */
.body{ width:1000px; height:600px; margin:0 auto;}
/*第一层*/
.diceng{ width:1000px; height:600px; margin:0 auto; position:absolute;}
.left{ width:220px; height:600px; margin:0; float:left; position:relative;} 
.leftside{ width:132px; height:600px; margin:0; float:left;  background:url(../image/left.jpg) no-repeat; position:relative;}
.leftside2{ width:88px; height:600px; margin:0; margin-left:0px; float:left; background:#000; position:relative;}
.right{ width:780px; height:600px; margin:0; margin-left:0px; float:left; position:relative;}
.rightside-0{ width:780px; height:420px; background:#ffc; margin:0; margin-left:0px; float:left; position:relative; overflow:hidden;}
.rightside-420 { width:780px; height:180px; background:#9c0; margin:0; margin-left:0px; margin-top:0px; float:left; position:relative; overflow:hidden;}
/* 第二层*/
.dingceng{ width:1000px; height:600px; margin:0; position:absolute;}
.middleimg{ width:240px; height:470px; float:left; margin:0; margin-left:130px; margin-top:130px;}
.top1{ width:200px; height:30px; margin:0; margin-left:660px; margin-top:60px;}
.top1 .text{ font-size:26px; color:#99cc00; font-weight:bold; text-align:right;}
.top2{ width:100px; height:10px; margin:0; margin-left:760px; margin-top:30px;}
.top2 .text{ font-size:12px; color:#99cc00; text-align:right;}


.login1{ float:right; width:450px; height:265px; margin:0; margin-right:150px; margin-top:22px; position:relative; background:url(../image/login5.png) no-repeat;}

.login1 img{ float:right; margin:0; position:absolute; bottom:0px; right:0px; overflow:hidden;}

.login1 .button{ z-index:1000; width:180px; height:40px;margin-top:40px;margin-left:10px; background:url(../image/button3.png) no-repeat;}
.login1 .text2{ width:180px; height:40px;margin:0 auto; font-family: "Comic Sans MS", cursive; font-size:24px; white-space:50px; text-decoration:none;}
.login1 .button a:active{  z-index:1000; width:180px; height:50px;margin-top:20px;margin-left:10px; background:url(../image/button2.png) no-repeat;}

.login1 h1{ float:left;  font-weight:bold; margin:0; margin-top:10px; margin-left:20px; position:relative;}
.login1 .fangshi{float:left; font-size:18px; font-weight:bold; margin:0; margin-top:25px; margin-left:45px; position:relative;}
.login1 .fangshi ul{ padding:0;margin:0; list-style-type: none;}
.login1 .fangshi ul li{float:left; margin:0; margin-left:10px; position:relative;}S
.login1 .fangshi ul li a:hover{color:#FFF; background:#f96; margin:0; text-align:center; text-decoration:none;}

.login1 h2{ float:left;  font-weight:bold; margin:0; position:absolute; right:280px; bottom:335px;}
.login1 .fangshi2{float:left; font-size:14px; font-weight:bold; margin:0; position:absolute; right:30px; bottom:325px;}
.login1 .fangshi2 ul{ padding:0;margin:0; list-style-type: none;}
.login1 .fangshi2 ul li{float:left; margin:0; margin-left:10px; position:relative;}
.login1 .fangshi2 ul li a:hover{color:#FFF; background:#f96; margin:0; text-align:center; text-decoration:none;}


.login1 .info{float:left; font-size:16px; margin:0; margin-top:30px; position:relative;} 
.login1 .info ul{ margin:0; margin-left:190px; margin-top:11px; }

.login1 .info ul input{height:23px; float:left; margin:0; margin-left:9px; }

.login1 .info ul .cod1{ width:200px;}
.login1 .info ul .cod2{ width:80px; margin-top:-3px;}
.login1 .info img{ float:left; margin:0; margin-left:23px; margin-top:-5px; position:relative;}
.login1 .subm{float:left; margin:0; font-size:24px;}

.login1 .taobao{ position:absolute; right:20px; bottom:225px; }