@charset "utf-8";
/* CSS Document */
html{text-align:center;}
.body{width:1002px; height:1610px; background:#FFF; margin:0 auto; text-align:left;}
.div1{height:550px;}
.div1 .top{margin:0; margin-top:10px; background:#ffcc66; height:120px;}
.div1 .top p{font-size:22px; margin-top:-20px; margin-left:700px; color:#FFF; font-weight:bold;}
.div1 .top1{margin:0; margin-top:20px;}
.div1 .nav{width:1002px; height:70px; background:#ffcc66; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius:15px; margin-top:10px;}
.div1 .nav .menus{width:1002px; height:70px; margin:0 auto; overflow:hidden;}
.div1 .nav .menus li{float:left; width:160px; height:70px; overflow:hidden; list-style-type:none;}
.div1 .nav .menus li a{font-size:24px; font-family: "微软雅黑","Arial", "Helvetica", "sans-serif", "宋体"; display:block; width:160px; height:70px; line-height:70px; text-align:center; color:#9bcc01;  text-decoration:none;}
.div1 .nav .menus li a:hover{ background-color:#c00301; font-weight:bold;}
.div2{height:403px;}
.div2 .left{}
.div2 .right{ margin-top:-403px; margin-left:501px;}
.div3{height:105px;}
.div4{height:240px; border:#fdcc65 2px solid;}
.div4 .h{color:#99cd00; font-size:28px; font-family:'黑体'; font-weight:bold; text-align:center; margin-bottom:35px; margin-top:10px;}
.div4 .h span{color:#000; font-size:32px; font-weight:bold;}
.div4 .fen{width:1002px; height:40px; margin:0 auto; font-size:36px; font-family:'黑体'; font-weight:bold; color:#fe9900;}
.div4 .fen li{width:300px; height:40px; text-align:center; float:left; overflow:hidden; list-style-type:none;}
.div5{height:485px;}
.div5 .lizi{margin-top:25px; margin-left:40px;}
.div5 .tel{color:#99cd00; font-size:34px; font-family:'黑体'; font-weight:bold; line-height:50px; text-align:center; margin-bottom:35px; margin-top:10px;}
.div6{height:330px; background:#eeeeee; border:#FFF 3px solid;}
.div6 h1{font-family:'黑体'; text-align:center;}
.div6 p{text-align:center; font-size:20px;}
.div6 .bot{width:800px; height:30px; margin-top:30px; margin-left:200px;}
.div6 .bot .menu{width:800px; height:30px; margin:0 auto; overflow:hidden;}
.div6 .bot .menu li{float:left; width:150px; height:30px; overflow:hidden; list-style-type:none;}
.div6 .bot .menu li a{font-size:18px; color:#000; font-family: "微软雅黑","Arial", "Helvetica", "sans-serif", "宋体"; display:block; width:150px; height:30px; line-height:30px; text-align:center;  text-decoration:none;}
.div6 .bot .menu li a:hover{font-weight:bold;}
.div6 h4{margin-top:70px; text-align:center; font-weight:normal;}