@charset "utf-8";
/* CSS Document */

body, div, p, ul, ol, dl, dt, dd, li, form, input, table, img, h1, h2, h3, h4, h5, h6{margin:0; padding:0;}
body{ color:#1D1D1D; font-size:13px;font-style:normal; font-weight:normal; font-family:"宋体",Verdana,sans-serif;}
em, b, i{font-style:normal;}
p{line-height:1.25em;}
a{color:#1D1D1D;text-decoration:none;font-family:"宋体",Verdana,sans-serif; cursor:pointer;}
a:link, a:visited{}
a:hover, a:active{text-decoration:underline; background-color:#FF0;}
a.on:hover, a.cur:hover, .on a:hover, .cur a:hover{text-decoration:none;}
img, a img{border:0 none;}
img.no_border{background:none;border:0 none;}
ul,li, ol{list-style-type:none; float:left;}
.clear{clear: both; font-size:1px; line-height:1px; height:1px; overflow:hidden; width:100%;}
.clear5{clear: both;height:5px; overflow:hidden; width:100%;}
.clear25{clear: both;height:25px; overflow:hidden; width:100%;}
.maring10 { margin-top:10px;}
.maring20 { margin-top:20px;}
.padding5 { padding-left:5px;}
/* 分页 测试结果 */
.body{ width:1000px; height:600px; margin:0 auto;}
.diceng{ width:1000px; height:600px; margin:0 auto; position:absolute;}
.left{ width:132px; height:600px; margin:0; float:left;  background:url(../image/left.jpg) no-repeat; position:relative;}
.right{ width:868px; height:600px; margin:0; margin-left:0px; float:left; position:relative;}
.rightside1{ width:868px; height:60px; background:#99cc00; margin:0; margin-left:0px; float:left; position:relative; overflow:hidden;}
.rightside2 { width:868px; height:80px; background:#ffcc66; margin:0; margin-left:0px; margin-top:0px; float:left; position:relative; overflow:hidden;}
.rightside3 { width:868px; height:400px; background:#ffffcc; margin:0; margin-left:0px; margin-top:0px; float:left; position:relative; overflow:hidden;}
.rightside4 { width:868px; height:60px; background:#ffcc66; margin:0; margin-left:0px; margin-top:0px; float:left; position:relative; overflow:hidden;}


.dingceng{ width:1000px; height:600px; margin:0; position:absolute;}
.topimg{ width:110px; height:100px; float:left; margin:0; margin-left:635px; margin-top:40px; border:10px solid #84ccc9;}
.bottomimg{width:120px; height:260px; float:left; margin:0; margin-left:840px; margin-top:180px;}


.show{ width:868px; height:600px; margin:0; margin-left:132px; float:left; position:absolute;}
.showside1{ width:868px; height:60px; margin:0; margin-left:0px; float:left; position:relative; overflow:hidden;}
.showside1 .name{width:150px; height:20px; font-size:20px; font-weight:bold; color:#FFF; margin:0; margin-left:20px; margin-top:30px;}
.showside1 .tel{width:250px; height:20x; font-size:20px; font-weight:bold; color:#FFF; margin:0; margin-left:80px; margin-top:30px;}
.showside1 .welcome{width:150px; height:20x; font-size:20px; font-weight:bold; color:#FFF; margin:0; margin-left:140px; margin-top:30px;}
.showside1 .welcome .span{font-size:18px; font-weight:bold; color:#FFF;}
.showside1 .exit{width:50px; height:20x; font-size:20px; font-weight:bold; text-decoration:underline; color:#FFF; margin:0; margin-left:790px; margin-top:30px;}
.showside1 .exit a:visited{ color:#FFF;}
.showside1 .exit a:hover{ color:blue;}


.showside2 { width:868px; height:80px; margin:0; margin-left:0px; margin-top:0px; float:left; position:relative; overflow:hidden;}
.showside2 .menu{width:450px; height:80px; margin:0; margin-left:20px; margin-top:0px; }

.showside2 .menu ul {padding:0;margin:0; list-style-type: none;}

.showside2 .menu ul li {float:left; margin:0; margin-left:10px; position:relative;}

.showside2 .menu ul li a:visited , .showside2 .menu ul li a:link{
display:block; 
text-align:center; 
text-decoration:none; 
color:#FFF; 
font-size:30px;
margin:0px;
padding:10px 15px 5px 15px;
}
.showside2 .menu ul li a:hover,.showside2 .menu ul li a:active ,.showside2 .menu ul li a:visited { border:3px solid #014a86; border-radius:15px; background:none; letter-spacing:10px;}

.showside2 .menu ul li ul {
display: none;
}
.showside2 .menu ul li:hover a {
color:#fff; 

}

.showside2 .menu ul li:hover ul {
display:block; 
position:relative;
margin:0;
margin-left:0px;
}


.showside2 .menu ul li:hover ul li a {
display:block; 
background:none; 
font-size:13px;
width:80px;
text-align:center;
float:left;
border:none;
}

.showside2 .menu ul li:hover ul li a:hover {
	background-color:#99cc00;
	color:#FFFFFF;
	border:none;
	border-radius:0px;
	letter-spacing:normal;
}
.showside2 .menu .line{
	font-size:30px;
	font-weight:bold;
	padding:10px 2px 0 2px;
	color:#FFF;
}

.showside3 { width:868px; height:400px; margin:0; margin-left:0px; margin-top:0px; float:left; position:relative; overflow:hidden;}
.showside3 .head{ _width:310px; height:25px; font-size:24px; float:left; margin:0; margin-left:20px; margin-top:40px;}
.showside3 .head .tle1{ _width:190px; height:25px; margin:0;}
.showside3 .head .tle2{width:100px; height:25px; margin:0; margin-left:20px;}

.showside3 .righ{ width:800px;  float:left; margin:0; margin-left:20px; margin-top:10px;}
.showside3 .righ .tex{ width:800px; height:20px; float:left; font-size:18px;}
.showside3 .righ .mark{ float:left;margin:0; margin-left:0px; margin-top:0px;}
.showside3 .righ .mark .tr{ width:600px; float:left; margin:0; margin-left:0px; margin-top:0px;}
.showside3 .righ .mark .tr .td{width:25px; height:25px; float:left; font-size:18px; font-weight:bold; text-align:center; background:#33fffe; margin:0; margin-left:5px; margin-top:10px;}
.showside3 .faul{ width:800px;  float:left; margin:0; margin-left:20px; margin-top:20px;}
.showside3 .faul .tex{ width:800px; height:20px; float:left; font-size:18px;}
.showside3 .faul .mark{ float:left;margin:0; margin-left:0px; margin-top:0px;}
.showside3 .faul .mark .tr{ width:600px; float:left; margin:0; margin-left:0px; margin-top:0px;}
.showside3 .faul .mark .tr .td{width:25px; height:25px; float:left; font-size:18px; font-weight:bold; text-align:center; background:#33fffe; margin:0; margin-left:5px; margin-top:10px;}
.showside3 .results {float:left; margin:0; margin-left:20px; margin-top:20px;}
.showside3 .results h3{line-height:18px;}
.showside3 .results span{color:#F00; font-size:24px;}
.showside4 { width:868px; height:60px; float:left; margin:0; margin-left:0px; margin-top:0px; float:left; position:relative; overflow:hidden;}
.showside4 .bot1{_width:60px; height:15x; float:left; font-size:12px; font-weight:bold; text-decoration:none; color:#000; margin:0; margin-left:30px; margin-top:20px;}
.showside4 .bot1 a:visited{text-decoration:none;}
.showside4 .bot1 a:hover{text-decoration:none;}
.showside4 .bot2{width:60px; height:15x; float:left; font-size:12px; font-weight:bold; text-decoration:none; color:#000; margin:0; margin-left:130px; margin-top:20px;}
.showside4 .bot2 a:visited{text-decoration:none;}
.showside4 .bot2 a:hover{text-decoration:none;}